# Wrangle and Analyze Dog Tweets Data

## Intro

## Setup
First, import all necessary modules and libraries. Also, increase the max column width since some columns contain more text:

In [1]:
# JSON encoder and decoder - manipulation with json files
import json

# Numpy and pandas
import numpy as np
import pandas as pd

# Perform http requests
import requests

# Query Twitter API
import tweepy

# Time access and conversions module providing various time-related functions
import time

# Increase the max column width
pd.set_option('display.max_colwidth', -1)

## Gather

### The WeRateDogs Twitter archive
The WeRateDogs Twitter archive contains basic tweet data of their 5000+ tweets. The archive does not contain every piece of information for a specific tweet. However, it contains the each tweet's text that was used to extract information such as rating, dog name and dog stage - programatically, by the author of the course on Data Wrangling. In addition, only tweets containing rating have been filtered.  

I have downloaded the file manually and stored it in the same folder as this Jupyter Notebook. Next, I'll load the data into Pandas dataframe in order to assess and clean data quality and tidiness issues, and create visualizations.

The "enhanced" WeRateDogs Twitter archive is a standard csv ([comma-separated values](https://en.wikipedia.org/wiki/Comma-separated_values)) files that can be simply load into Pandas dataframe using Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function:

In [2]:
# Load the enhanced WeRateDogs Twitter archive data into tw_archive dataframe
tw_archive = pd.read_csv('twitter-archive-enhanced.csv')

### The tweet image predictions
The second part of the data contains predictions of the dog's breed that were made using a neural network and dog images in the tweets. This file is available on Udacity servers and can be downloaded from [here](https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv).  

I'll download the file programatically using Requests library and load it into Pandas dataframe using Pandas read_csv function as it is a standard tsv ([tab-separated values](https://en.wikipedia.org/wiki/Tab-separated_values)) file and I can set sep parameter to work with tabs instead of default commas.

In [3]:
# Download and save the tweet image predictions file
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

with open('image-predictions.tsv', mode='wb') as file:
    response = requests.get(url)
    # Print the response code
    print(response)
    # Write the response content into a file
    file.write(response.content)

<Response [200]>

In [4]:
# Load the tweet image predictions into img_predictions dataframe
img_predictions = pd.read_csv('image-predictions.tsv', sep='\t')

### Additional tweets data
The last pieces of information - each tweet's retweet count, favorite ("like") count and other potentially interesting data - can be obtained from [Twitter API](https://developer.twitter.com/en/docs) using [Tweepy](http://www.tweepy.org/) library.  

I've set up a Twitter application in order to query Twitter API since authorization is required. I stored my consumer key and consumer secret, as well as access token and access secret  locally in a separate file to avoid having them directly in a notebook. Let's read in the keys and secrets first to use them later in querying the API:

In [5]:
# Open file with keys and secrets, and store them in variables
with open('credentials.json') as file:
    credentials = json.load(file)
    consumer_key = credentials['consumer_key']
    consumer_secret = credentials['consumer_secret']
    access_token = credentials['access_token']
    access_secret = credentials['access_secret']

Get ready for querying the Twitter API:

In [6]:
# Create an OAuthHandler instance using consumer key and secret, 
# and set access token using access token and secret
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

# Create an API instance
api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

Next, get each tweet's data using method [get_status()](http://docs.tweepy.org/en/latest/api.html#status-methods), as shown in [Twitter API - get tweets with specific id](https://stackoverflow.com/questions/28384588/twitter-api-get-tweets-with-specific-id), and store the retrieved json content in a file `tweet_json.txt`. To check the progress, tweet id and ellapsed time ([How to measure elapsed time in Python](https://stackoverflow.com/questions/7370801/how-to-measure-elapsed-time-in-python)) are printed along the loop execution. In addition, [try-except blocks](https://wiki.python.org/moin/HandlingExceptions) are used to take care of cases when the tweet has been deleted.

In [7]:
# Get tweet ids into a list
tweet_ids = tw_archive['tweet_id']

# Create empty list to store ids of deleted tweets
deleted_tweets = []

# Set start time
start = time.time()

# Loop over tweet ids
for tweet_id in tweet_ids:
    try:
        # Query Twitter API with a tweet is and store the status in a file
        tweet = api.get_status(id=tweet_id, tweet_mode='extended')
        with open('tweet_json.txt', 'a') as file:
            json.dump(tweet._json, file)
            file.write('\n')
        # Record time after the query
        end = time.time()
        # Print the tweed id with the elapsed time in seconds
        print('Tweet with id {} queried, {} seconds.'.format(tweet_id, round(end-start, 2)))
        
    except Exception as e:
        # Print id of a deleted tweet
        print('Tweet with id {} has been deleted.'.format(tweet_id))
        # Add id of a deleted tweet into a list
        deleted_tweets.append(tweet_id)

Tweet with id 892420643555336193 queried, 0.61 seconds.
Tweet with id 892177421306343426 queried, 1.23 seconds.
Tweet with id 891815181378084864 queried, 2.0 seconds.
Tweet with id 891689557279858688 queried, 2.65 seconds.
Tweet with id 891327558926688256 queried, 3.3 seconds.
Tweet with id 891087950875897856 queried, 3.93 seconds.
Tweet with id 890971913173991426 queried, 4.9 seconds.
Tweet with id 890729181411237888 queried, 5.49 seconds.
Tweet with id 890609185150312448 queried, 6.08 seconds.
Tweet with id 890240255349198849 queried, 6.72 seconds.
Tweet with id 890006608113172480 queried, 7.33 seconds.
Tweet with id 889880896479866881 queried, 7.95 seconds.
Tweet with id 889665388333682689 queried, 8.52 seconds.
Tweet with id 889638837579907072 queried, 9.12 seconds.
Tweet with id 889531135344209921 queried, 9.73 seconds.
Tweet with id 889278841981685760 queried, 10.38 seconds.
Tweet with id 888917238123831296 queried, 11.0 seconds.
Tweet with id 888804989199671297 queried, 11.59 seconds.
Tweet with id 888554962724278272 queried, 12.21 seconds.
Tweet with id 888202515573088257 has been deleted.
Tweet with id 888078434458587136 queried, 13.41 seconds.
Tweet with id 887705289381826560 queried, 14.01 seconds.
Tweet with id 887517139158093824 queried, 14.67 seconds.
Tweet with id 887473957103951883 queried, 15.31 seconds.
Tweet with id 887343217045368832 queried, 15.9 seconds.
Tweet with id 887101392804085760 queried, 16.48 seconds.
Tweet with id 886983233522544640 queried, 17.45 seconds.
Tweet with id 886736880519319552 queried, 18.03 seconds.
Tweet with id 886680336477933568 queried, 18.63 seconds.
Tweet with id 886366144734445568 queried, 19.23 seconds.
Tweet with id 886267009285017600 queried, 19.83 seconds.
Tweet with id 886258384151887873 queried, 20.44 seconds.
Tweet with id 886054160059072513 queried, 21.04 seconds.
Tweet with id 885984800019947520 queried, 21.63 seconds.
Tweet with id 885528943205470208 queried, 22.27 seconds.
Tweet with id 885518971528720385 queried, 22.97 seconds.
Tweet with id 885311592912609280 queried, 23.7 seconds.
Tweet with id 885167619883638784 queried, 24.33 seconds.
Tweet with id 884925521741709313 queried, 24.9 seconds.
Tweet with id 884876753390489601 queried, 25.5 seconds.
Tweet with id 884562892145688576 queried, 26.11 seconds.
Tweet with id 884441805382717440 queried, 26.75 seconds.
Tweet with id 884247878851493888 queried, 27.41 seconds.
Tweet with id 884162670584377345 queried, 28.04 seconds.
Tweet with id 883838122936631299 queried, 28.66 seconds.
Tweet with id 883482846933004288 queried, 29.35 seconds.
Tweet with id 883360690899218434 queried, 30.12 seconds.
Tweet with id 883117836046086144 queried, 30.96 seconds.
Tweet with id 882992080364220416 queried, 31.62 seconds.
Tweet with id 882762694511734784 queried, 32.24 seconds.
Tweet with id 882627270321602560 queried, 33.0 seconds.
Tweet with id 882268110199369728 queried, 33.61 seconds.
Tweet with id 882045870035918850 queried, 34.24 seconds.
Tweet with id 881906580714921986 queried, 35.12 seconds.
Tweet with id 881666595344535552 queried, 35.7 seconds.
Tweet with id 881633300179243008 queried, 36.37 seconds.
Tweet with id 881536004380872706 queried, 36.94 seconds.
Tweet with id 881268444196462592 queried, 37.65 seconds.
Tweet with id 880935762899988482 queried, 38.26 seconds.
Tweet with id 880872448815771648 queried, 38.83 seconds.
Tweet with id 880465832366813184 queried, 39.46 seconds.
Tweet with id 880221127280381952 queried, 40.31 seconds.
Tweet with id 880095782870896641 queried, 41.17 seconds.
Tweet with id 879862464715927552 queried, 41.76 seconds.
Tweet with id 879674319642796034 queried, 42.36 seconds.
Tweet with id 879492040517615616 queried, 42.94 seconds.
Tweet with id 879415818425184262 queried, 43.53 seconds.
Tweet with id 879376492567855104 queried, 45.13 seconds.
Tweet with id 879130579576475649 queried, 45.77 seconds.
Tweet with id 879050749262655488 queried, 46.41 seconds.
Tweet with id 879008229531029506 queried, 47.03 seconds.
Tweet with id 878776093423087618 queried, 47.58 seconds.
Tweet with id 878604707211726852 queried, 48.13 seconds.
Tweet with id 878404777348136964 queried, 48.76 seconds.
Tweet with id 878316110768087041 queried, 49.53 seconds.
Tweet with id 878281511006478336 queried, 50.11 seconds.
Tweet with id 878057613040115712 queried, 50.72 seconds.
Tweet with id 877736472329191424 queried, 51.34 seconds.
Tweet with id 877611172832227328 queried, 51.96 seconds.
Tweet with id 877556246731214848 queried, 52.58 seconds.
Tweet with id 877316821321428993 queried, 53.19 seconds.
Tweet with id 877201837425926144 queried, 53.73 seconds.
Tweet with id 876838120628539392 queried, 54.26 seconds.
Tweet with id 876537666061221889 queried, 55.12 seconds.
Tweet with id 876484053909872640 queried, 55.73 seconds.
Tweet with id 876120275196170240 queried, 56.36 seconds.
Tweet with id 875747767867523072 queried, 57.22 seconds.
Tweet with id 875144289856114688 queried, 57.83 seconds.
Tweet with id 875097192612077568 queried, 58.43 seconds.
Tweet with id 875021211251597312 queried, 59.28 seconds.
Tweet with id 874680097055178752 queried, 59.89 seconds.
Tweet with id 874434818259525634 queried, 60.52 seconds.
Tweet with id 874296783580663808 queried, 61.13 seconds.
Tweet with id 874057562936811520 queried, 61.73 seconds.
Tweet with id 874012996292530176 queried, 62.33 seconds.
Tweet with id 873697596434513921 has been deleted.
Tweet with id 873580283840344065 queried, 63.78 seconds.
Tweet with id 873337748698140672 queried, 64.46 seconds.
Tweet with id 873213775632977920 queried, 65.26 seconds.
Tweet with id 872967104147763200 queried, 65.93 seconds.
Tweet with id 872820683541237760 queried, 66.48 seconds.
Tweet with id 872668790621863937 has been deleted.
Tweet with id 872620804844003328 queried, 67.61 seconds.
Tweet with id 872486979161796608 queried, 68.21 seconds.
Tweet with id 872261713294495745 has been deleted.
Tweet with id 872122724285648897 queried, 69.5 seconds.
Tweet with id 871879754684805121 queried, 70.17 seconds.
Tweet with id 871762521631449091 queried, 70.92 seconds.
Tweet with id 871515927908634625 queried, 71.7 seconds.
Tweet with id 871166179821445120 queried, 72.46 seconds.
Tweet with id 871102520638267392 queried, 73.36 seconds.
Tweet with id 871032628920680449 queried, 74.3 seconds.
Tweet with id 870804317367881728 queried, 74.93 seconds.
Tweet with id 870726314365509632 queried, 75.56 seconds.
Tweet with id 870656317836468226 queried, 76.35 seconds.
Tweet with id 870374049280663552 queried, 77.26 seconds.
Tweet with id 870308999962521604 queried, 77.88 seconds.
Tweet with id 870063196459192321 queried, 78.76 seconds.
Tweet with id 869988702071779329 has been deleted.
Tweet with id 869772420881756160 queried, 79.96 seconds.
Tweet with id 869702957897576449 queried, 80.58 seconds.
Tweet with id 869596645499047938 queried, 81.19 seconds.
Tweet with id 869227993411051520 queried, 81.78 seconds.
Tweet with id 868880397819494401 queried, 82.38 seconds.
Tweet with id 868639477480148993 queried, 82.99 seconds.
Tweet with id 868622495443632128 queried, 83.61 seconds.
Tweet with id 868552278524837888 queried, 84.37 seconds.
Tweet with id 867900495410671616 queried, 84.98 seconds.
Tweet with id 867774946302451713 queried, 85.72 seconds.
Tweet with id 867421006826221569 queried, 86.34 seconds.
Tweet with id 867072653475098625 queried, 86.94 seconds.
Tweet with id 867051520902168576 queried, 87.72 seconds.
Tweet with id 866816280283807744 has been deleted.
Tweet with id 866720684873056260 queried, 88.96 seconds.
Tweet with id 866686824827068416 queried, 89.69 seconds.
Tweet with id 866450705531457537 queried, 90.27 seconds.
Tweet with id 866334964761202691 queried, 90.86 seconds.
Tweet with id 866094527597207552 queried, 91.57 seconds.
Tweet with id 865718153858494464 queried, 92.21 seconds.
Tweet with id 865359393868664832 queried, 92.91 seconds.
Tweet with id 865006731092295680 queried, 93.61 seconds.
Tweet with id 864873206498414592 queried, 94.2 seconds.
Tweet with id 864279568663928832 queried, 94.81 seconds.
Tweet with id 864197398364647424 queried, 95.46 seconds.
Tweet with id 863907417377173506 queried, 96.04 seconds.
Tweet with id 863553081350529029 queried, 96.64 seconds.
Tweet with id 863471782782697472 queried, 97.23 seconds.
Tweet with id 863432100342583297 queried, 97.88 seconds.
Tweet with id 863427515083354112 queried, 98.43 seconds.
Tweet with id 863079547188785154 queried, 99.09 seconds.
Tweet with id 863062471531167744 queried, 99.68 seconds.
Tweet with id 862831371563274240 queried, 100.29 seconds.
Tweet with id 862722525377298433 queried, 100.9 seconds.
Tweet with id 862457590147678208 queried, 101.51 seconds.
Tweet with id 862096992088072192 queried, 102.66 seconds.
Tweet with id 861769973181624320 has been deleted.
Tweet with id 861383897657036800 queried, 104.03 seconds.
Tweet with id 861288531465048066 queried, 104.66 seconds.
Tweet with id 861005113778896900 queried, 105.25 seconds.
Tweet with id 860981674716409858 queried, 106.22 seconds.
Tweet with id 860924035999428608 queried, 106.86 seconds.
Tweet with id 860563773140209665 queried, 107.48 seconds.
Tweet with id 860524505164394496 queried, 108.09 seconds.
Tweet with id 860276583193509888 queried, 108.74 seconds.
Tweet with id 860184849394610176 queried, 109.56 seconds.
Tweet with id 860177593139703809 queried, 110.2 seconds.
Tweet with id 859924526012018688 queried, 110.84 seconds.
Tweet with id 859851578198683649 queried, 111.41 seconds.
Tweet with id 859607811541651456 queried, 111.98 seconds.
Tweet with id 859196978902773760 queried, 112.57 seconds.
Tweet with id 859074603037188101 queried, 113.21 seconds.
Tweet with id 858860390427611136 queried, 113.83 seconds.
Tweet with id 858843525470990336 queried, 114.41 seconds.
Tweet with id 858471635011153920 queried, 115.03 seconds.
Tweet with id 858107933456039936 queried, 115.66 seconds.
Tweet with id 857989990357356544 queried, 116.47 seconds.
Tweet with id 857746408056729600 queried, 117.02 seconds.
Tweet with id 857393404942143489 queried, 117.6 seconds.
Tweet with id 857263160327368704 queried, 118.2 seconds.
Tweet with id 857214891891077121 queried, 118.83 seconds.
Tweet with id 857062103051644929 queried, 119.53 seconds.
Tweet with id 857029823797047296 queried, 120.12 seconds.
Tweet with id 856602993587888130 has been deleted.
Tweet with id 856543823941562368 queried, 121.56 seconds.
Tweet with id 856526610513747968 queried, 122.14 seconds.
Tweet with id 856330835276025856 queried, 122.71 seconds.
Tweet with id 856288084350160898 queried, 123.3 seconds.
Tweet with id 856282028240666624 queried, 123.9 seconds.
Tweet with id 855862651834028034 queried, 124.57 seconds.
Tweet with id 855860136149123072 queried, 125.18 seconds.
Tweet with id 855857698524602368 queried, 125.8 seconds.
Tweet with id 855851453814013952 queried, 126.39 seconds.
Tweet with id 855818117272018944 queried, 126.98 seconds.
Tweet with id 855459453768019968 queried, 127.85 seconds.
Tweet with id 855245323840757760 queried, 128.46 seconds.
Tweet with id 855138241867124737 queried, 129.06 seconds.
Tweet with id 854732716440526848 queried, 129.64 seconds.
Tweet with id 854482394044301312 queried, 130.23 seconds.
Tweet with id 854365224396361728 queried, 130.84 seconds.
Tweet with id 854120357044912130 queried, 131.43 seconds.
Tweet with id 854010172552949760 queried, 132.05 seconds.
Tweet with id 853760880890318849 queried, 132.64 seconds.
Tweet with id 853639147608842240 queried, 133.21 seconds.
Tweet with id 853299958564483072 queried, 134.13 seconds.
Tweet with id 852936405516943360 queried, 134.73 seconds.
Tweet with id 852912242202992640 queried, 135.33 seconds.
Tweet with id 852672615818899456 queried, 136.35 seconds.
Tweet with id 852553447878664193 queried, 137.26 seconds.
Tweet with id 852311364735569921 queried, 137.86 seconds.
Tweet with id 852226086759018497 queried, 138.51 seconds.
Tweet with id 852189679701164033 queried, 139.1 seconds.
Tweet with id 851953902622658560 has been deleted.
Tweet with id 851861385021730816 queried, 140.26 seconds.
Tweet with id 851591660324737024 queried, 140.89 seconds.
Tweet with id 851464819735769094 queried, 141.53 seconds.
Tweet with id 851224888060895234 queried, 142.41 seconds.
Tweet with id 850753642995093505 queried, 143.0 seconds.
Tweet with id 850380195714523136 queried, 143.6 seconds.
Tweet with id 850333567704068097 queried, 144.18 seconds.
Tweet with id 850145622816686080 queried, 144.78 seconds.
Tweet with id 850019790995546112 queried, 145.36 seconds.
Tweet with id 849776966551130114 queried, 146.35 seconds.
Tweet with id 849668094696017920 queried, 146.95 seconds.
Tweet with id 849412302885593088 queried, 147.55 seconds.
Tweet with id 849336543269576704 queried, 148.17 seconds.
Tweet with id 849051919805034497 queried, 148.79 seconds.
Tweet with id 848690551926992896 queried, 149.44 seconds.
Tweet with id 848324959059550208 queried, 150.06 seconds.
Tweet with id 848213670039564288 queried, 150.65 seconds.
Tweet with id 848212111729840128 queried, 151.29 seconds.
Tweet with id 847978865427394560 queried, 151.93 seconds.
Tweet with id 847971574464610304 queried, 152.57 seconds.
Tweet with id 847962785489326080 queried, 153.18 seconds.
Tweet with id 847842811428974592 queried, 153.8 seconds.
Tweet with id 847617282490613760 queried, 154.41 seconds.
Tweet with id 847606175596138505 queried, 155.39 seconds.
Tweet with id 847251039262605312 queried, 155.98 seconds.
Tweet with id 847157206088847362 queried, 156.59 seconds.
Tweet with id 847116187444137987 queried, 157.21 seconds.
Tweet with id 846874817362120707 queried, 157.81 seconds.
Tweet with id 846514051647705089 queried, 158.4 seconds.
Tweet with id 846505985330044928 queried, 159.01 seconds.
Tweet with id 846153765933735936 queried, 159.66 seconds.
Tweet with id 846139713627017216 queried, 160.35 seconds.
Tweet with id 846042936437604353 queried, 160.94 seconds.
Tweet with id 845812042753855489 queried, 161.56 seconds.
Tweet with id 845677943972139009 queried, 162.13 seconds.
Tweet with id 845459076796616705 has been deleted.
Tweet with id 845397057150107648 queried, 163.88 seconds.
Tweet with id 845306882940190720 queried, 164.45 seconds.
Tweet with id 845098359547420673 queried, 165.08 seconds.
Tweet with id 844979544864018432 queried, 165.68 seconds.
Tweet with id 844973813909606400 queried, 166.28 seconds.
Tweet with id 844704788403113984 has been deleted.
Tweet with id 844580511645339650 queried, 167.5 seconds.
Tweet with id 844223788422217728 queried, 168.13 seconds.
Tweet with id 843981021012017153 queried, 168.71 seconds.
Tweet with id 843856843873095681 queried, 169.34 seconds.
Tweet with id 843604394117681152 queried, 170.1 seconds.
Tweet with id 843235543001513987 queried, 170.71 seconds.
Tweet with id 842892208864923648 has been deleted.
Tweet with id 842846295480000512 queried, 171.88 seconds.
Tweet with id 842765311967449089 queried, 172.83 seconds.
Tweet with id 842535590457499648 queried, 173.41 seconds.
Tweet with id 842163532590374912 queried, 173.98 seconds.
Tweet with id 842115215311396866 queried, 174.55 seconds.
Tweet with id 841833993020538882 queried, 175.12 seconds.
Tweet with id 841680585030541313 queried, 175.7 seconds.
Tweet with id 841439858740625411 queried, 176.33 seconds.
Tweet with id 841320156043304961 queried, 177.2 seconds.
Tweet with id 841314665196081154 queried, 178.14 seconds.
Tweet with id 841077006473256960 queried, 179.07 seconds.
Tweet with id 840761248237133825 queried, 179.73 seconds.
Tweet with id 840728873075638272 queried, 180.33 seconds.
Tweet with id 840698636975636481 queried, 181.16 seconds.
Tweet with id 840696689258311684 queried, 181.86 seconds.
Tweet with id 840632337062862849 queried, 182.48 seconds.
Tweet with id 840370681858686976 queried, 183.09 seconds.
Tweet with id 840268004936019968 queried, 183.74 seconds.
Tweet with id 839990271299457024 queried, 184.33 seconds.
Tweet with id 839549326359670784 queried, 184.92 seconds.
Tweet with id 839290600511926273 queried, 185.56 seconds.
Tweet with id 839239871831150596 queried, 186.12 seconds.
Tweet with id 838952994649550848 queried, 186.73 seconds.
Tweet with id 838921590096166913 queried, 187.3 seconds.
Tweet with id 838916489579200512 queried, 187.88 seconds.
Tweet with id 838831947270979586 queried, 188.54 seconds.
Tweet with id 838561493054533637 queried, 189.18 seconds.
Tweet with id 838476387338051585 queried, 189.82 seconds.
Tweet with id 838201503651401729 queried, 190.49 seconds.
Tweet with id 838150277551247360 queried, 191.08 seconds.
Tweet with id 838085839343206401 queried, 191.73 seconds.
Tweet with id 838083903487373313 queried, 192.77 seconds.
Tweet with id 837820167694528512 queried, 193.44 seconds.
Tweet with id 837482249356513284 queried, 194.05 seconds.
Tweet with id 837471256429613056 queried, 194.65 seconds.
Tweet with id 837366284874571778 has been deleted.
Tweet with id 837110210464448512 queried, 196.55 seconds.
Tweet with id 837012587749474308 has been deleted.
Tweet with id 836989968035819520 queried, 197.71 seconds.
Tweet with id 836753516572119041 queried, 198.33 seconds.
Tweet with id 836677758902222849 queried, 198.96 seconds.
Tweet with id 836648853927522308 queried, 199.57 seconds.
Tweet with id 836397794269200385 queried, 200.18 seconds.
Tweet with id 836380477523124226 queried, 200.81 seconds.
Tweet with id 836260088725786625 queried, 201.38 seconds.
Tweet with id 836001077879255040 queried, 201.97 seconds.
Tweet with id 835685285446955009 queried, 202.57 seconds.
Tweet with id 835574547218894849 queried, 203.24 seconds.
Tweet with id 835536468978302976 queried, 203.81 seconds.
Tweet with id 835309094223372289 queried, 204.37 seconds.
Tweet with id 835297930240217089 queried, 204.95 seconds.
Tweet with id 835264098648616962 queried, 205.52 seconds.
Tweet with id 835246439529840640 queried, 206.13 seconds.
Tweet with id 835172783151792128 queried, 206.86 seconds.
Tweet with id 835152434251116546 queried, 207.42 seconds.
Tweet with id 834931633769889797 queried, 208.03 seconds.
Tweet with id 834786237630337024 queried, 208.65 seconds.
Tweet with id 834574053763584002 queried, 209.25 seconds.
Tweet with id 834477809192075265 queried, 209.87 seconds.
Tweet with id 834458053273591808 queried, 210.46 seconds.
Tweet with id 834209720923721728 queried, 211.03 seconds.
Tweet with id 834167344700198914 queried, 211.63 seconds.
Tweet with id 834089966724603904 queried, 212.22 seconds.
Tweet with id 834086379323871233 queried, 212.85 seconds.
Tweet with id 833863086058651648 queried, 213.56 seconds.
Tweet with id 833826103416520705 queried, 214.13 seconds.
Tweet with id 833732339549220864 queried, 214.72 seconds.
Tweet with id 833722901757046785 queried, 215.3 seconds.
Tweet with id 833479644947025920 queried, 216.13 seconds.
Tweet with id 833124694597443584 queried, 216.69 seconds.
Tweet with id 832998151111966721 queried, 217.24 seconds.
Tweet with id 832769181346996225 queried, 217.77 seconds.
Tweet with id 832757312314028032 queried, 218.33 seconds.
Tweet with id 832682457690300417 queried, 219.0 seconds.
Tweet with id 832645525019123713 queried, 219.58 seconds.
Tweet with id 832636094638288896 queried, 220.37 seconds.
Tweet with id 832397543355072512 queried, 221.01 seconds.
Tweet with id 832369877331693569 queried, 221.6 seconds.
Tweet with id 832273440279240704 queried, 222.15 seconds.
Tweet with id 832215909146226688 queried, 222.84 seconds.
Tweet with id 832215726631055365 queried, 223.45 seconds.
Tweet with id 832088576586297345 queried, 224.27 seconds.
Tweet with id 832040443403784192 queried, 224.88 seconds.
Tweet with id 832032802820481025 queried, 225.45 seconds.
Tweet with id 831939777352105988 queried, 226.02 seconds.
Tweet with id 831926988323639298 queried, 226.67 seconds.
Tweet with id 831911600680497154 queried, 227.55 seconds.
Tweet with id 831670449226514432 queried, 228.13 seconds.

Rate limit reached. Sleeping for: 31

Tweet with id 798925684722855936 queried, 419.93 seconds.
Tweet with id 798705661114773508 queried, 420.53 seconds.
Tweet with id 798701998996647937 queried, 421.11 seconds.
Tweet with id 798697898615730177 queried, 422.02 seconds.
Tweet with id 798694562394996736 queried, 422.61 seconds.
Tweet with id 798686750113755136 queried, 423.21 seconds.
Tweet with id 798682547630837760 queried, 423.85 seconds.
Tweet with id 798673117451325440 queried, 424.44 seconds.
Tweet with id 798665375516884993 queried, 425.39 seconds.
Tweet with id 798644042770751489 queried, 426.24 seconds.
Tweet with id 798628517273620480 queried, 426.79 seconds.
Tweet with id 798585098161549313 queried, 427.36 seconds.
Tweet with id 798576900688019456 queried, 427.99 seconds.
Tweet with id 798340744599797760 queried, 428.89 seconds.
Tweet with id 798209839306514432 queried, 429.48 seconds.
Tweet with id 797971864723324932 queried, 430.09 seconds.
Tweet with id 797545162159308800 queried, 430.69 seconds.
Tweet with id 797236660651966464 queried, 431.23 seconds.
Tweet with id 797165961484890113 queried, 431.81 seconds.
Tweet with id 796904159865868288 queried, 432.41 seconds.
Tweet with id 796865951799083009 queried, 433.12 seconds.
Tweet with id 796759840936919040 queried, 433.66 seconds.
Tweet with id 796563435802726400 queried, 434.25 seconds.
Tweet with id 796484825502875648 queried, 434.81 seconds.
Tweet with id 796387464403357696 queried, 436.29 seconds.
Tweet with id 796177847564038144 queried, 436.88 seconds.
Tweet with id 796149749086875649 queried, 437.49 seconds.
Tweet with id 796125600683540480 queried, 438.16 seconds.
Tweet with id 796116448414461957 queried, 439.15 seconds.
Tweet with id 796080075804475393 queried, 439.71 seconds.
Tweet with id 796031486298386433 queried, 440.3 seconds.
Tweet with id 795464331001561088 queried, 440.89 seconds.
Tweet with id 795400264262053889 queried, 441.46 seconds.
Tweet with id 795076730285391872 queried, 442.01 seconds.
Tweet with id 794983741416415232 queried, 442.63 seconds.
Tweet with id 794926597468000259 queried, 443.24 seconds.
Tweet with id 794355576146903043 queried, 443.82 seconds.
Tweet with id 794332329137291264 queried, 444.43 seconds.
Tweet with id 794205286408003585 queried, 445.04 seconds.
Tweet with id 793962221541933056 queried, 445.68 seconds.
Tweet with id 793845145112371200 queried, 446.28 seconds.
Tweet with id 793614319594401792 queried, 446.89 seconds.
Tweet with id 793601777308463104 queried, 447.46 seconds.
Tweet with id 793500921481273345 queried, 448.05 seconds.
Tweet with id 793286476301799424 queried, 448.66 seconds.
Tweet with id 793271401113350145 queried, 449.23 seconds.
Tweet with id 793256262322548741 queried, 449.83 seconds.
Tweet with id 793241302385262592 queried, 450.4 seconds.
Tweet with id 793226087023144960 queried, 450.93 seconds.
Tweet with id 793210959003287553 queried, 451.5 seconds.
Tweet with id 793195938047070209 queried, 452.13 seconds.
Tweet with id 793180763617361921 queried, 452.71 seconds.
Tweet with id 793165685325201412 queried, 453.31 seconds.
Tweet with id 793150605191548928 queried, 453.91 seconds.
Tweet with id 793135492858580992 queried, 454.51 seconds.
Tweet with id 793120401413079041 queried, 455.1 seconds.
Tweet with id 792913359805018113 queried, 455.69 seconds.
Tweet with id 792883833364439040 queried, 456.28 seconds.
Tweet with id 792773781206999040 queried, 456.86 seconds.
Tweet with id 792394556390137856 queried, 457.52 seconds.
Tweet with id 792050063153438720 queried, 458.11 seconds.
Tweet with id 791821351946420224 queried, 458.69 seconds.
Tweet with id 791784077045166082 queried, 459.26 seconds.
Tweet with id 791780927877898241 queried, 460.0 seconds.
Tweet with id 791774931465953280 queried, 460.77 seconds.
Tweet with id 791672322847637504 queried, 461.31 seconds.
Tweet with id 791406955684368384 queried, 462.0 seconds.
Tweet with id 791312159183634433 queried, 462.6 seconds.
Tweet with id 791026214425268224 queried, 463.26 seconds.
Tweet with id 790987426131050500 queried, 463.8 seconds.
Tweet with id 790946055508652032 queried, 464.35 seconds.
Tweet with id 790723298204217344 queried, 464.96 seconds.
Tweet with id 790698755171364864 queried, 465.58 seconds.
Tweet with id 790581949425475584 queried, 466.16 seconds.
Tweet with id 790337589677002753 queried, 466.77 seconds.
Tweet with id 790277117346975746 queried, 467.36 seconds.
Tweet with id 790227638568808452 queried, 467.98 seconds.
Tweet with id 789986466051088384 queried, 468.63 seconds.
Tweet with id 789960241177853952 queried, 469.38 seconds.
Tweet with id 789903600034189313 queried, 470.03 seconds.
Tweet with id 789628658055020548 queried, 470.58 seconds.
Tweet with id 789599242079838210 queried, 471.18 seconds.
Tweet with id 789530877013393408 queried, 471.84 seconds.
Tweet with id 789314372632018944 queried, 472.42 seconds.
Tweet with id 789280767834746880 queried, 473.04 seconds.
Tweet with id 789268448748703744 queried, 473.63 seconds.
Tweet with id 789137962068021249 queried, 474.2 seconds.
Tweet with id 788908386943430656 queried, 474.78 seconds.
Tweet with id 788765914992902144 queried, 475.52 seconds.
Tweet with id 788552643979468800 queried, 476.41 seconds.
Tweet with id 788412144018661376 queried, 476.98 seconds.
Tweet with id 788178268662984705 queried, 477.56 seconds.
Tweet with id 788150585577050112 queried, 478.16 seconds.
Tweet with id 788070120937619456 queried, 478.73 seconds.
Tweet with id 788039637453406209 queried, 479.31 seconds.
Tweet with id 787810552592695296 queried, 479.88 seconds.
Tweet with id 787717603741622272 queried, 480.48 seconds.
Tweet with id 787397959788929025 queried, 481.05 seconds.
Tweet with id 787322443945877504 queried, 481.63 seconds.
Tweet with id 787111942498508800 queried, 482.18 seconds.
Tweet with id 786963064373534720 queried, 482.75 seconds.
Tweet with id 786729988674449408 queried, 483.39 seconds.
Tweet with id 786709082849828864 queried, 484.01 seconds.
Tweet with id 786664955043049472 queried, 484.58 seconds.
Tweet with id 786595970293370880 queried, 485.18 seconds.
Tweet with id 786363235746385920 queried, 485.76 seconds.
Tweet with id 786286427768250368 queried, 486.69 seconds.
Tweet with id 786233965241827333 queried, 487.37 seconds.
Tweet with id 786051337297522688 queried, 488.21 seconds.
Tweet with id 786036967502913536 queried, 488.78 seconds.
Tweet with id 785927819176054784 queried, 489.36 seconds.
Tweet with id 785872687017132033 queried, 490.27 seconds.
Tweet with id 785639753186217984 queried, 490.99 seconds.
Tweet with id 785533386513321988 queried, 491.66 seconds.
Tweet with id 785515384317313025 queried, 492.18 seconds.
Tweet with id 785264754247995392 queried, 492.76 seconds.
Tweet with id 785170936622350336 queried, 493.3 seconds.
Tweet with id 784826020293709826 queried, 493.83 seconds.
Tweet with id 784517518371221505 queried, 494.41 seconds.
Tweet with id 784431430411685888 queried, 494.97 seconds.
Tweet with id 784183165795655680 queried, 495.55 seconds.
Tweet with id 784057939640352768 queried, 496.15 seconds.
Tweet with id 783839966405230592 queried, 496.71 seconds.
Tweet with id 783821107061198850 queried, 497.27 seconds.
Tweet with id 783695101801398276 queried, 497.86 seconds.
Tweet with id 783466772167098368 queried, 498.41 seconds.
Tweet with id 783391753726550016 queried, 498.98 seconds.
Tweet with id 783347506784731136 queried, 499.58 seconds.
Tweet with id 783334639985389568 queried, 500.35 seconds.
Tweet with id 783085703974514689 queried, 500.93 seconds.
Tweet with id 782969140009107456 queried, 501.53 seconds.
Tweet with id 782747134529531904 queried, 502.11 seconds.
Tweet with id 782722598790725632 queried, 502.66 seconds.
Tweet with id 782598640137187329 queried, 503.23 seconds.
Tweet with id 782305867769217024 queried, 503.8 seconds.
Tweet with id 782021823840026624 queried, 504.43 seconds.
Tweet with id 781955203444699136 queried, 505.04 seconds.
Tweet with id 781661882474196992 queried, 505.88 seconds.
Tweet with id 781655249211752448 queried, 506.45 seconds.
Tweet with id 781524693396357120 queried, 507.48 seconds.
Tweet with id 781308096455073793 queried, 508.22 seconds.
Tweet with id 781251288990355457 queried, 508.89 seconds.
Tweet with id 781163403222056960 queried, 509.64 seconds.
Tweet with id 780931614150983680 queried, 510.19 seconds.
Tweet with id 780858289093574656 queried, 510.76 seconds.
Tweet with id 780800785462489090 queried, 511.46 seconds.
Tweet with id 780601303617732608 queried, 512.01 seconds.
Tweet with id 780543529827336192 queried, 512.55 seconds.
Tweet with id 780496263422808064 queried, 513.18 seconds.
Tweet with id 780476555013349377 queried, 513.73 seconds.
Tweet with id 780459368902959104 queried, 514.3 seconds.
Tweet with id 780192070812196864 queried, 514.91 seconds.
Tweet with id 780092040432480260 queried, 515.5 seconds.
Tweet with id 780074436359819264 queried, 516.09 seconds.
Tweet with id 779834332596887552 queried, 516.65 seconds.
Tweet with id 779377524342161408 queried, 517.26 seconds.
Tweet with id 779124354206535695 queried, 517.85 seconds.
Tweet with id 779123168116150273 has been deleted.
Tweet with id 779056095788752897 queried, 518.97 seconds.
Tweet with id 778990705243029504 queried, 519.53 seconds.
Tweet with id 778774459159379968 queried, 520.11 seconds.
Tweet with id 778764940568104960 queried, 520.8 seconds.
Tweet with id 778748913645780993 queried, 521.36 seconds.
Tweet with id 778650543019483137 queried, 521.96 seconds.
Tweet with id 778624900596654080 queried, 522.52 seconds.
Tweet with id 778408200802557953 queried, 523.13 seconds.
Tweet with id 778396591732486144 queried, 524.03 seconds.
Tweet with id 778383385161035776 queried, 524.7 seconds.
Tweet with id 778286810187399168 queried, 525.26 seconds.
Tweet with id 778039087836069888 queried, 526.18 seconds.
Tweet with id 778027034220126208 queried, 526.75 seconds.
Tweet with id 777953400541634568 queried, 527.32 seconds.
Tweet with id 777885040357281792 queried, 527.9 seconds.
Tweet with id 777684233540206592 queried, 528.48 seconds.
Tweet with id 777641927919427584 queried, 529.03 seconds.
Tweet with id 777621514455814149 queried, 529.72 seconds.
Tweet with id 777189768882946048 queried, 530.36 seconds.
Tweet with id 776819012571455488 queried, 531.01 seconds.
Tweet with id 776813020089548800 queried, 531.56 seconds.
Tweet with id 776477788987613185 queried, 532.13 seconds.
Tweet with id 776249906839351296 queried, 532.73 seconds.
Tweet with id 776218204058357768 queried, 533.33 seconds.
Tweet with id 776201521193218049 queried, 533.94 seconds.
Tweet with id 776113305656188928 queried, 534.55 seconds.
Tweet with id 776088319444877312 queried, 535.1 seconds.
Tweet with id 775898661951791106 queried, 535.7 seconds.
Tweet with id 775842724423557120 queried, 536.48 seconds.
Tweet with id 775733305207554048 queried, 537.05 seconds.
Tweet with id 775729183532220416 queried, 537.61 seconds.
Tweet with id 775364825476165632 queried, 538.2 seconds.
Tweet with id 775350846108426240 queried, 538.77 seconds.
Tweet with id 775096608509886464 has been deleted.
Tweet with id 775085132600442880 queried, 539.91 seconds.
Tweet with id 774757898236878852 queried, 540.55 seconds.
Tweet with id 774639387460112384 queried, 541.1 seconds.
Tweet with id 774314403806253056 queried, 541.68 seconds.
Tweet with id 773985732834758656 queried, 542.25 seconds.
Tweet with id 773922284943896577 queried, 543.11 seconds.
Tweet with id 773704687002451968 queried, 543.68 seconds.
Tweet with id 773670353721753600 queried, 544.25 seconds.
Tweet with id 773547596996571136 queried, 544.86 seconds.
Tweet with id 773336787167145985 queried, 545.45 seconds.
Tweet with id 773308824254029826 queried, 546.0 seconds.
Tweet with id 773247561583001600 queried, 546.59 seconds.
Tweet with id 773191612633579521 queried, 547.15 seconds.
Tweet with id 772877495989305348 queried, 547.72 seconds.
Tweet with id 772826264096874500 queried, 548.28 seconds.
Tweet with id 772615324260794368 queried, 548.95 seconds.
Tweet with id 772581559778025472 queried, 549.51 seconds.
Tweet with id 772193107915964416 queried, 551.03 seconds.
Tweet with id 772152991789019136 queried, 551.65 seconds.
Tweet with id 772117678702071809 queried, 552.25 seconds.
Tweet with id 772114945936949249 queried, 552.78 seconds.
Tweet with id 772102971039580160 queried, 553.36 seconds.
Tweet with id 771908950375665664 queried, 553.95 seconds.
Tweet with id 771770456517009408 queried, 554.55 seconds.
Tweet with id 771500966810099713 queried, 555.1 seconds.
Tweet with id 771380798096281600 queried, 555.82 seconds.
Tweet with id 771171053431250945 queried, 556.42 seconds.
Tweet with id 771136648247640064 queried, 557.0 seconds.
Tweet with id 771102124360998913 queried, 557.57 seconds.
Tweet with id 771014301343748096 queried, 558.12 seconds.
Tweet with id 771004394259247104 has been deleted.
Tweet with id 770787852854652928 queried, 559.27 seconds.
Tweet with id 770772759874076672 queried, 559.86 seconds.
Tweet with id 770743923962707968 has been deleted.
Tweet with id 770655142660169732 queried, 560.95 seconds.
Tweet with id 770414278348247044 queried, 561.51 seconds.
Tweet with id 770293558247038976 queried, 562.1 seconds.
Tweet with id 770093767776997377 queried, 562.68 seconds.
Tweet with id 770069151037685760 queried, 563.27 seconds.
Tweet with id 769940425801170949 queried, 564.06 seconds.
Tweet with id 769695466921623552 queried, 564.6 seconds.
Tweet with id 769335591808995329 queried, 565.17 seconds.
Tweet with id 769212283578875904 queried, 565.77 seconds.
Tweet with id 768970937022709760 queried, 566.33 seconds.
Tweet with id 768909767477751808 queried, 566.93 seconds.
Tweet with id 768855141948723200 queried, 567.55 seconds.
Tweet with id 768609597686943744 queried, 568.12 seconds.
Tweet with id 768596291618299904 queried, 568.82 seconds.
Tweet with id 768554158521745409 queried, 569.38 seconds.
Tweet with id 768473857036525572 queried, 570.06 seconds.
Tweet with id 768193404517830656 queried, 570.63 seconds.
Tweet with id 767884188863397888 queried, 571.23 seconds.
Tweet with id 767754930266464257 queried, 571.8 seconds.
Tweet with id 767500508068192258 queried, 572.72 seconds.
Tweet with id 767191397493538821 queried, 573.28 seconds.
Tweet with id 767122157629476866 queried, 573.94 seconds.
Tweet with id 766864461642756096 queried, 574.52 seconds.
Tweet with id 766793450729734144 queried, 575.27 seconds.
Tweet with id 766714921925144576 queried, 575.85 seconds.
Tweet with id 766693177336135680 queried, 576.56 seconds.
Tweet with id 766423258543644672 queried, 577.18 seconds.
Tweet with id 766313316352462849 queried, 577.72 seconds.
Tweet with id 766078092750233600 queried, 578.3 seconds.
Tweet with id 766069199026450432 queried, 578.96 seconds.
Tweet with id 766008592277377025 queried, 579.75 seconds.
Tweet with id 765719909049503744 queried, 580.33 seconds.
Tweet with id 765669560888528897 queried, 580.92 seconds.
Tweet with id 765395769549590528 queried, 581.48 seconds.
Tweet with id 765371061932261376 queried, 582.03 seconds.
Tweet with id 765222098633691136 queried, 582.57 seconds.
Tweet with id 764857477905154048 queried, 583.15 seconds.
Tweet with id 764259802650378240 queried, 583.75 seconds.
Tweet with id 763956972077010945 queried, 584.36 seconds.
Tweet with id 763837565564780549 queried, 584.92 seconds.
Tweet with id 763183847194451968 queried, 585.51 seconds.
Tweet with id 763167063695355904 queried, 586.1 seconds.
Tweet with id 763103485927849985 queried, 586.99 seconds.
Tweet with id 762699858130116608 queried, 587.55 seconds.
Tweet with id 762471784394268675 queried, 588.15 seconds.
Tweet with id 762464539388485633 queried, 589.09 seconds.
Tweet with id 762316489655476224 queried, 589.63 seconds.
Tweet with id 762035686371364864 queried, 590.2 seconds.
Tweet with id 761976711479193600 queried, 590.89 seconds.
Tweet with id 761750502866649088 queried, 591.45 seconds.
Tweet with id 761745352076779520 queried, 592.08 seconds.
Tweet with id 761672994376806400 queried, 592.63 seconds.
Tweet with id 761599872357261312 queried, 593.18 seconds.
Tweet with id 761371037149827077 queried, 593.75 seconds.
Tweet with id 761334018830917632 queried, 594.3 seconds.
Tweet with id 761292947749015552 queried, 594.86 seconds.
Tweet with id 761227390836215808 queried, 595.43 seconds.
Tweet with id 761004547850530816 queried, 595.98 seconds.
Tweet with id 760893934457552897 queried, 596.52 seconds.
Tweet with id 760656994973933572 queried, 597.49 seconds.
Tweet with id 760641137271070720 queried, 598.05 seconds.
Tweet with id 760539183865880579 queried, 598.59 seconds.
Tweet with id 760521673607086080 queried, 599.15 seconds.
Tweet with id 760290219849637889 queried, 599.7 seconds.
Tweet with id 760252756032651264 queried, 600.26 seconds.
Tweet with id 760190180481531904 queried, 600.84 seconds.
Tweet with id 760153949710192640 queried, 601.42 seconds.
Tweet with id 759943073749200896 queried, 601.98 seconds.
Tweet with id 759923798737051648 queried, 602.55 seconds.
Tweet with id 759846353224826880 queried, 603.09 seconds.
Tweet with id 759793422261743616 queried, 603.65 seconds.
Tweet with id 759566828574212096 has been deleted.
Tweet with id 759557299618865152 queried, 605.06 seconds.
Tweet with id 759447681597108224 queried, 605.71 seconds.
Tweet with id 759446261539934208 queried, 606.52 seconds.
Tweet with id 759197388317847553 queried, 607.12 seconds.
Tweet with id 759159934323924993 queried, 607.67 seconds.
Tweet with id 759099523532779520 queried, 608.23 seconds.
Tweet with id 759047813560868866 queried, 608.82 seconds.
Tweet with id 758854675097526272 queried, 609.38 seconds.
Tweet with id 758828659922702336 queried, 609.97 seconds.
Tweet with id 758740312047005698 queried, 610.55 seconds.
Tweet with id 758474966123810816 queried, 611.15 seconds.
Tweet with id 758467244762497024 queried, 611.72 seconds.
Tweet with id 758405701903519748 queried, 612.53 seconds.
Tweet with id 758355060040593408 queried, 613.11 seconds.
Tweet with id 758099635764359168 queried, 613.67 seconds.
Tweet with id 758041019896193024 queried, 614.25 seconds.
Tweet with id 757741869644341248 queried, 614.83 seconds.
Tweet with id 757729163776290825 queried, 615.4 seconds.
Tweet with id 757725642876129280 queried, 616.0 seconds.
Tweet with id 757611664640446465 queried, 616.6 seconds.
Tweet with id 757597904299253760 queried, 617.18 seconds.
Tweet with id 757596066325864448 queried, 617.73 seconds.
Tweet with id 757400162377592832 queried, 618.29 seconds.
Tweet with id 757393109802180609 queried, 618.87 seconds.
Tweet with id 757354760399941633 queried, 619.43 seconds.
Tweet with id 756998049151549440 queried, 620.03 seconds.
Tweet with id 756939218950160384 queried, 620.65 seconds.
Tweet with id 756651752796094464 queried, 621.22 seconds.
Tweet with id 756526248105566208 queried, 621.77 seconds.
Tweet with id 756303284449767430 queried, 622.32 seconds.
Tweet with id 756288534030475264 queried, 622.87 seconds.
Tweet with id 756275833623502848 queried, 623.45 seconds.
Tweet with id 755955933503782912 queried, 624.05 seconds.
Tweet with id 755206590534418437 queried, 624.65 seconds.
Tweet with id 755110668769038337 queried, 625.22 seconds.
Tweet with id 754874841593970688 queried, 625.83 seconds.
Tweet with id 754856583969079297 queried, 626.43 seconds.
Tweet with id 754747087846248448 queried, 626.97 seconds.
Tweet with id 754482103782404096 queried, 627.55 seconds.
Tweet with id 754449512966619136 queried, 628.12 seconds.
Tweet with id 754120377874386944 queried, 628.68 seconds.
Tweet with id 754011816964026368 has been deleted.
Tweet with id 753655901052166144 queried, 629.78 seconds.
Tweet with id 753420520834629632 queried, 630.34 seconds.
Tweet with id 753398408988139520 queried, 630.91 seconds.
Tweet with id 753375668877008896 queried, 631.53 seconds.
Tweet with id 753298634498793472 queried, 632.1 seconds.
Tweet with id 753294487569522689 queried, 632.64 seconds.

Rate limit reached. Sleeping for: 346

Tweet with id 692752401762250755 queried, 1325.42 seconds.
Tweet with id 692568918515392513 queried, 1326.03 seconds.
Tweet with id 692535307825213440 queried, 1326.7 seconds.
Tweet with id 692530551048294401 queried, 1327.28 seconds.
Tweet with id 692423280028966913 queried, 1327.85 seconds.
Tweet with id 692417313023332352 queried, 1328.58 seconds.
Tweet with id 692187005137076224 queried, 1329.18 seconds.
Tweet with id 692158366030913536 queried, 1329.79 seconds.
Tweet with id 692142790915014657 queried, 1330.7 seconds.
Tweet with id 692041934689402880 queried, 1331.31 seconds.
Tweet with id 692017291282812928 queried, 1332.31 seconds.
Tweet with id 691820333922455552 queried, 1332.92 seconds.
Tweet with id 691793053716221953 queried, 1333.5 seconds.
Tweet with id 691756958957883396 queried, 1334.11 seconds.
Tweet with id 691675652215414786 queried, 1334.68 seconds.
Tweet with id 691483041324204033 queried, 1335.41 seconds.
Tweet with id 691459709405118465 queried, 1336.03 seconds.
Tweet with id 691444869282295808 queried, 1336.6 seconds.
Tweet with id 691416866452082688 queried, 1337.26 seconds.
Tweet with id 691321916024623104 queried, 1337.87 seconds.
Tweet with id 691096613310316544 queried, 1338.44 seconds.
Tweet with id 691090071332753408 queried, 1339.0 seconds.
Tweet with id 690989312272396288 queried, 1339.58 seconds.
Tweet with id 690959652130045952 queried, 1340.17 seconds.
Tweet with id 690938899477221376 queried, 1340.79 seconds.
Tweet with id 690932576555528194 queried, 1341.38 seconds.
Tweet with id 690735892932222976 queried, 1341.98 seconds.
Tweet with id 690728923253055490 queried, 1342.55 seconds.
Tweet with id 690690673629138944 queried, 1343.13 seconds.
Tweet with id 690649993829576704 queried, 1343.72 seconds.
Tweet with id 690607260360429569 queried, 1344.27 seconds.
Tweet with id 690597161306841088 queried, 1344.89 seconds.
Tweet with id 690400367696297985 queried, 1345.44 seconds.
Tweet with id 690374419777196032 queried, 1345.99 seconds.
Tweet with id 690360449368465409 queried, 1346.65 seconds.
Tweet with id 690348396616552449 queried, 1347.28 seconds.
Tweet with id 690248561355657216 queried, 1347.86 seconds.
Tweet with id 690021994562220032 queried, 1348.49 seconds.
Tweet with id 690015576308211712 queried, 1349.06 seconds.
Tweet with id 690005060500217858 queried, 1349.61 seconds.
Tweet with id 689999384604450816 queried, 1350.36 seconds.
Tweet with id 689993469801164801 queried, 1350.97 seconds.
Tweet with id 689977555533848577 queried, 1351.57 seconds.
Tweet with id 689905486972461056 queried, 1352.17 seconds.
Tweet with id 689877686181715968 queried, 1352.77 seconds.
Tweet with id 689835978131935233 queried, 1353.34 seconds.
Tweet with id 689661964914655233 queried, 1353.98 seconds.
Tweet with id 689659372465688576 queried, 1354.59 seconds.
Tweet with id 689623661272240129 queried, 1355.19 seconds.
Tweet with id 689599056876867584 queried, 1355.83 seconds.
Tweet with id 689557536375177216 queried, 1356.38 seconds.
Tweet with id 689517482558820352 queried, 1357.03 seconds.
Tweet with id 689289219123089408 queried, 1357.78 seconds.
Tweet with id 689283819090870273 queried, 1358.39 seconds.
Tweet with id 689280876073582592 queried, 1358.95 seconds.
Tweet with id 689275259254616065 queried, 1359.84 seconds.
Tweet with id 689255633275777024 queried, 1360.43 seconds.
Tweet with id 689154315265683456 queried, 1361.07 seconds.
Tweet with id 689143371370250240 queried, 1361.97 seconds.
Tweet with id 688916208532455424 queried, 1362.59 seconds.
Tweet with id 688908934925697024 queried, 1363.15 seconds.
Tweet with id 688898160958271489 queried, 1363.74 seconds.
Tweet with id 688894073864884227 queried, 1364.37 seconds.
Tweet with id 688828561667567616 queried, 1365.06 seconds.
Tweet with id 688804835492233216 queried, 1365.62 seconds.
Tweet with id 688789766343622656 queried, 1366.25 seconds.
Tweet with id 688547210804498433 queried, 1366.85 seconds.
Tweet with id 688519176466644993 queried, 1367.47 seconds.
Tweet with id 688385280030670848 queried, 1368.07 seconds.
Tweet with id 688211956440801280 queried, 1368.66 seconds.
Tweet with id 688179443353796608 queried, 1369.26 seconds.
Tweet with id 688116655151435777 queried, 1369.96 seconds.
Tweet with id 688064179421470721 queried, 1370.53 seconds.
Tweet with id 687841446767013888 queried, 1371.14 seconds.
Tweet with id 687826841265172480 queried, 1371.72 seconds.
Tweet with id 687818504314159109 queried, 1372.34 seconds.
Tweet with id 687807801670897665 queried, 1372.94 seconds.
Tweet with id 687732144991551489 queried, 1373.5 seconds.
Tweet with id 687704180304273409 queried, 1374.11 seconds.
Tweet with id 687664829264453632 queried, 1374.72 seconds.
Tweet with id 687494652870668288 queried, 1375.3 seconds.
Tweet with id 687480748861947905 queried, 1376.11 seconds.
Tweet with id 687476254459715584 queried, 1376.96 seconds.
Tweet with id 687460506001633280 queried, 1377.57 seconds.
Tweet with id 687399393394311168 queried, 1378.18 seconds.
Tweet with id 687317306314240000 queried, 1378.78 seconds.
Tweet with id 687312378585812992 queried, 1379.36 seconds.
Tweet with id 687127927494963200 queried, 1380.11 seconds.
Tweet with id 687124485711986689 queried, 1380.66 seconds.
Tweet with id 687109925361856513 queried, 1381.27 seconds.
Tweet with id 687102708889812993 queried, 1381.86 seconds.
Tweet with id 687096057537363968 queried, 1382.47 seconds.
Tweet with id 686947101016735744 queried, 1383.25 seconds.
Tweet with id 686760001961103360 queried, 1383.82 seconds.
Tweet with id 686749460672679938 queried, 1384.43 seconds.
Tweet with id 686730991906516992 queried, 1385.01 seconds.
Tweet with id 686683045143953408 queried, 1385.91 seconds.
Tweet with id 686618349602762752 queried, 1386.5 seconds.
Tweet with id 686606069955735556 queried, 1387.09 seconds.
Tweet with id 686394059078897668 queried, 1387.67 seconds.
Tweet with id 686386521809772549 queried, 1388.24 seconds.
Tweet with id 686377065986265092 queried, 1389.22 seconds.
Tweet with id 686358356425093120 queried, 1389.87 seconds.
Tweet with id 686286779679375361 queried, 1390.49 seconds.
Tweet with id 686050296934563840 queried, 1391.06 seconds.
Tweet with id 686035780142297088 queried, 1391.68 seconds.
Tweet with id 686034024800862208 queried, 1392.29 seconds.
Tweet with id 686007916130873345 queried, 1392.86 seconds.
Tweet with id 686003207160610816 queried, 1393.46 seconds.
Tweet with id 685973236358713344 queried, 1394.13 seconds.
Tweet with id 685943807276412928 queried, 1394.74 seconds.
Tweet with id 685906723014619143 queried, 1395.32 seconds.
Tweet with id 685681090388975616 queried, 1395.92 seconds.
Tweet with id 685667379192414208 queried, 1396.47 seconds.
Tweet with id 685663452032069632 queried, 1397.08 seconds.
Tweet with id 685641971164143616 queried, 1397.67 seconds.
Tweet with id 685547936038666240 queried, 1398.24 seconds.
Tweet with id 685532292383666176 queried, 1398.82 seconds.
Tweet with id 685325112850124800 queried, 1399.43 seconds.
Tweet with id 685321586178670592 queried, 1400.06 seconds.
Tweet with id 685315239903100929 queried, 1400.68 seconds.
Tweet with id 685307451701334016 queried, 1401.24 seconds.
Tweet with id 685268753634967552 queried, 1401.92 seconds.
Tweet with id 685198997565345792 queried, 1402.48 seconds.
Tweet with id 685169283572338688 queried, 1403.05 seconds.
Tweet with id 684969860808454144 queried, 1403.76 seconds.
Tweet with id 684959798585110529 queried, 1404.38 seconds.
Tweet with id 684940049151070208 queried, 1405.01 seconds.
Tweet with id 684926975086034944 queried, 1405.87 seconds.
Tweet with id 684914660081053696 queried, 1406.67 seconds.
Tweet with id 684902183876321280 queried, 1407.29 seconds.
Tweet with id 684880619965411328 queried, 1407.9 seconds.
Tweet with id 684830982659280897 queried, 1408.53 seconds.
Tweet with id 684800227459624960 queried, 1409.27 seconds.
Tweet with id 684594889858887680 queried, 1409.88 seconds.
Tweet with id 684588130326986752 queried, 1410.48 seconds.
Tweet with id 684567543613382656 queried, 1411.09 seconds.
Tweet with id 684538444857667585 queried, 1411.68 seconds.
Tweet with id 684481074559381504 queried, 1412.24 seconds.
Tweet with id 684460069371654144 queried, 1412.83 seconds.
Tweet with id 684241637099323392 queried, 1413.42 seconds.
Tweet with id 684225744407494656 queried, 1414.0 seconds.
Tweet with id 684222868335505415 queried, 1414.57 seconds.
Tweet with id 684200372118904832 queried, 1415.17 seconds.
Tweet with id 684195085588783105 queried, 1415.82 seconds.
Tweet with id 684188786104872960 queried, 1416.45 seconds.
Tweet with id 684177701129875456 queried, 1417.08 seconds.
Tweet with id 684147889187209216 queried, 1417.66 seconds.
Tweet with id 684122891630342144 queried, 1418.23 seconds.
Tweet with id 684097758874210310 queried, 1419.18 seconds.
Tweet with id 683857920510050305 queried, 1419.76 seconds.
Tweet with id 683852578183077888 queried, 1420.34 seconds.
Tweet with id 683849932751646720 queried, 1420.91 seconds.
Tweet with id 683834909291606017 queried, 1421.5 seconds.
Tweet with id 683828599284170753 queried, 1422.12 seconds.
Tweet with id 683773439333797890 queried, 1422.67 seconds.
Tweet with id 683742671509258241 queried, 1423.52 seconds.
Tweet with id 683515932363329536 queried, 1424.1 seconds.
Tweet with id 683498322573824003 queried, 1424.72 seconds.
Tweet with id 683481228088049664 queried, 1425.34 seconds.
Tweet with id 683462770029932544 queried, 1425.91 seconds.
Tweet with id 683449695444799489 queried, 1426.53 seconds.
Tweet with id 683391852557561860 queried, 1427.26 seconds.
Tweet with id 683357973142474752 queried, 1427.82 seconds.
Tweet with id 683142553609318400 queried, 1428.4 seconds.
Tweet with id 683111407806746624 queried, 1428.98 seconds.
Tweet with id 683098815881154561 queried, 1429.53 seconds.
Tweet with id 683078886620553216 queried, 1430.07 seconds.
Tweet with id 683030066213818368 queried, 1430.64 seconds.
Tweet with id 682962037429899265 queried, 1431.25 seconds.
Tweet with id 682808988178739200 queried, 1431.81 seconds.
Tweet with id 682788441537560576 queried, 1432.5 seconds.
Tweet with id 682750546109968385 queried, 1433.1 seconds.
Tweet with id 682697186228989953 queried, 1433.67 seconds.
Tweet with id 682662431982772225 queried, 1434.63 seconds.
Tweet with id 682638830361513985 queried, 1435.19 seconds.
Tweet with id 682429480204398592 queried, 1435.83 seconds.
Tweet with id 682406705142087680 queried, 1436.78 seconds.
Tweet with id 682393905736888321 queried, 1437.38 seconds.
Tweet with id 682389078323662849 queried, 1437.96 seconds.
Tweet with id 682303737705140231 queried, 1438.55 seconds.
Tweet with id 682259524040966145 queried, 1439.19 seconds.
Tweet with id 682242692827447297 queried, 1439.8 seconds.
Tweet with id 682088079302213632 queried, 1440.4 seconds.
Tweet with id 682059653698686977 queried, 1440.99 seconds.
Tweet with id 682047327939461121 queried, 1441.6 seconds.
Tweet with id 682032003584274432 queried, 1442.28 seconds.
Tweet with id 682003177596559360 queried, 1443.25 seconds.
Tweet with id 681981167097122816 queried, 1443.85 seconds.
Tweet with id 681891461017812993 queried, 1444.44 seconds.
Tweet with id 681694085539872773 queried, 1445.04 seconds.
Tweet with id 681679526984871937 queried, 1445.65 seconds.
Tweet with id 681654059175129088 queried, 1446.33 seconds.
Tweet with id 681610798867845120 queried, 1446.89 seconds.
Tweet with id 681579835668455424 queried, 1447.47 seconds.
Tweet with id 681523177663676416 queried, 1448.26 seconds.
Tweet with id 681340665377193984 queried, 1448.97 seconds.
Tweet with id 681339448655802368 queried, 1449.5 seconds.
Tweet with id 681320187870711809 queried, 1450.09 seconds.
Tweet with id 681302363064414209 queried, 1450.67 seconds.
Tweet with id 681297372102656000 queried, 1451.29 seconds.
Tweet with id 681281657291280384 queried, 1451.86 seconds.
Tweet with id 681261549936340994 queried, 1452.49 seconds.
Tweet with id 681242418453299201 queried, 1453.1 seconds.
Tweet with id 681231109724700672 queried, 1453.7 seconds.
Tweet with id 681193455364796417 queried, 1454.26 seconds.
Tweet with id 680970795137544192 queried, 1454.89 seconds.
Tweet with id 680959110691590145 queried, 1455.44 seconds.
Tweet with id 680940246314430465 queried, 1456.36 seconds.
Tweet with id 680934982542561280 queried, 1456.92 seconds.
Tweet with id 680913438424612864 queried, 1457.54 seconds.
Tweet with id 680889648562991104 queried, 1458.15 seconds.
Tweet with id 680836378243002368 queried, 1458.73 seconds.
Tweet with id 680805554198020098 queried, 1459.32 seconds.
Tweet with id 680801747103793152 queried, 1459.94 seconds.
Tweet with id 680798457301471234 queried, 1460.5 seconds.
Tweet with id 680609293079592961 queried, 1461.07 seconds.
Tweet with id 680583894916304897 queried, 1461.65 seconds.
Tweet with id 680497766108381184 queried, 1462.28 seconds.
Tweet with id 680494726643068929 queried, 1462.98 seconds.
Tweet with id 680473011644985345 queried, 1463.93 seconds.
Tweet with id 680440374763077632 queried, 1464.5 seconds.
Tweet with id 680221482581123072 queried, 1465.11 seconds.
Tweet with id 680206703334408192 queried, 1465.67 seconds.
Tweet with id 680191257256136705 queried, 1466.29 seconds.
Tweet with id 680176173301628928 queried, 1466.89 seconds.
Tweet with id 680161097740095489 queried, 1467.46 seconds.
Tweet with id 680145970311643136 queried, 1468.05 seconds.
Tweet with id 680130881361686529 queried, 1468.73 seconds.
Tweet with id 680115823365742593 queried, 1469.27 seconds.
Tweet with id 680100725817409536 queried, 1469.87 seconds.
Tweet with id 680085611152338944 queried, 1470.89 seconds.
Tweet with id 680070545539371008 queried, 1471.53 seconds.
Tweet with id 680055455951884288 has been deleted.
Tweet with id 679877062409191424 queried, 1472.76 seconds.
Tweet with id 679872969355714560 queried, 1473.45 seconds.
Tweet with id 679862121895714818 queried, 1474.12 seconds.
Tweet with id 679854723806179328 queried, 1474.66 seconds.
Tweet with id 679844490799091713 queried, 1475.27 seconds.
Tweet with id 679828447187857408 queried, 1475.84 seconds.
Tweet with id 679777920601223168 queried, 1476.42 seconds.
Tweet with id 679736210798047232 queried, 1476.99 seconds.
Tweet with id 679729593985699840 queried, 1477.59 seconds.
Tweet with id 679722016581222400 queried, 1478.14 seconds.
Tweet with id 679530280114372609 queried, 1478.81 seconds.
Tweet with id 679527802031484928 queried, 1479.4 seconds.
Tweet with id 679511351870550016 queried, 1479.99 seconds.
Tweet with id 679503373272485890 queried, 1480.56 seconds.
Tweet with id 679475951516934144 queried, 1481.14 seconds.
Tweet with id 679462823135686656 queried, 1481.74 seconds.
Tweet with id 679405845277462528 queried, 1482.6 seconds.
Tweet with id 679158373988876288 queried, 1483.14 seconds.
Tweet with id 679148763231985668 queried, 1483.74 seconds.
Tweet with id 679132435750195208 queried, 1484.38 seconds.
Tweet with id 679111216690831360 queried, 1484.96 seconds.
Tweet with id 679062614270468097 queried, 1485.52 seconds.
Tweet with id 679047485189439488 queried, 1486.11 seconds.
Tweet with id 679001094530465792 queried, 1486.69 seconds.
Tweet with id 678991772295516161 queried, 1487.27 seconds.
Tweet with id 678969228704284672 queried, 1487.99 seconds.
Tweet with id 678800283649069056 queried, 1488.56 seconds.
Tweet with id 678798276842360832 queried, 1489.16 seconds.
Tweet with id 678774928607469569 queried, 1489.72 seconds.
Tweet with id 678767140346941444 queried, 1490.29 seconds.
Tweet with id 678764513869611008 queried, 1490.87 seconds.
Tweet with id 678755239630127104 queried, 1491.74 seconds.
Tweet with id 678740035362037760 queried, 1492.31 seconds.
Tweet with id 678708137298427904 queried, 1492.87 seconds.
Tweet with id 678675843183484930 queried, 1493.47 seconds.
Tweet with id 678643457146150913 queried, 1494.06 seconds.
Tweet with id 678446151570427904 queried, 1494.7 seconds.
Tweet with id 678424312106393600 queried, 1495.32 seconds.
Tweet with id 678410210315247616 queried, 1495.92 seconds.
Tweet with id 678399652199309312 queried, 1496.88 seconds.
Tweet with id 678396796259975168 queried, 1497.47 seconds.
Tweet with id 678389028614488064 queried, 1498.04 seconds.
Tweet with id 678380236862578688 queried, 1498.61 seconds.
Tweet with id 678341075375947776 queried, 1499.19 seconds.
Tweet with id 678334497360859136 queried, 1499.79 seconds.
Tweet with id 678278586130948096 queried, 1500.37 seconds.
Tweet with id 678255464182861824 queried, 1500.97 seconds.
Tweet with id 678023323247357953 queried, 1501.52 seconds.
Tweet with id 678021115718029313 queried, 1502.12 seconds.
Tweet with id 677961670166224897 queried, 1502.7 seconds.
Tweet with id 677918531514703872 queried, 1503.32 seconds.
Tweet with id 677895101218201600 queried, 1503.92 seconds.
Tweet with id 677716515794329600 queried, 1504.49 seconds.
Tweet with id 677700003327029250 queried, 1505.1 seconds.
Tweet with id 677698403548192770 queried, 1505.97 seconds.
Tweet with id 677687604918272002 queried, 1506.54 seconds.
Tweet with id 677673981332312066 queried, 1507.14 seconds.
Tweet with id 677662372920729601 queried, 1507.68 seconds.
Tweet with id 677644091929329666 queried, 1508.3 seconds.
Tweet with id 677573743309385728 queried, 1508.9 seconds.
Tweet with id 677565715327688705 queried, 1509.47 seconds.
Tweet with id 677557565589463040 queried, 1510.02 seconds.
Tweet with id 677547928504967168 queried, 1510.92 seconds.
Tweet with id 677530072887205888 queried, 1511.49 seconds.
Tweet with id 677335745548390400 queried, 1512.06 seconds.
Tweet with id 677334615166730240 queried, 1512.59 seconds.
Tweet with id 677331501395156992 queried, 1513.14 seconds.
Tweet with id 677328882937298944 queried, 1513.69 seconds.
Tweet with id 677314812125323265 queried, 1514.24 seconds.
Tweet with id 677301033169788928 queried, 1514.79 seconds.
Tweet with id 677269281705472000 queried, 1515.33 seconds.
Tweet with id 677228873407442944 queried, 1516.17 seconds.
Tweet with id 677187300187611136 queried, 1516.85 seconds.
Tweet with id 676975532580409345 queried, 1517.55 seconds.
Tweet with id 676957860086095872 queried, 1518.31 seconds.
Tweet with id 676949632774234114 queried, 1519.14 seconds.
Tweet with id 676948236477857792 queried, 1519.88 seconds.
Tweet with id 676946864479084545 queried, 1520.78 seconds.
Tweet with id 676942428000112642 queried, 1521.4 seconds.
Tweet with id 676936541936185344 queried, 1522.01 seconds.
Tweet with id 676916996760600576 queried, 1522.84 seconds.
Tweet with id 676897532954456065 queried, 1523.46 seconds.
Tweet with id 676864501615042560 queried, 1524.02 seconds.
Tweet with id 676821958043033607 queried, 1524.94 seconds.
Tweet with id 676819651066732545 queried, 1525.51 seconds.
Tweet with id 676811746707918848 queried, 1526.03 seconds.
Tweet with id 676776431406465024 queried, 1526.61 seconds.
Tweet with id 676617503762681856 queried, 1527.26 seconds.
Tweet with id 676613908052996102 queried, 1527.86 seconds.
Tweet with id 676606785097199616 queried, 1528.49 seconds.
Tweet with id 676603393314578432 queried, 1529.07 seconds.
Tweet with id 676593408224403456 queried, 1529.67 seconds.
Tweet with id 676590572941893632 queried, 1530.27 seconds.
Tweet with id 676588346097852417 queried, 1530.84 seconds.
Tweet with id 676582956622721024 queried, 1531.72 seconds.
Tweet with id 676575501977128964 queried, 1532.29 seconds.
Tweet with id 676533798876651520 queried, 1532.87 seconds.
Tweet with id 676496375194980353 queried, 1533.47 seconds.
Tweet with id 676470639084101634 queried, 1534.06 seconds.
Tweet with id 676440007570247681 queried, 1534.69 seconds.
Tweet with id 676430933382295552 queried, 1535.23 seconds.
Tweet with id 676263575653122048 queried, 1535.85 seconds.
Tweet with id 676237365392908289 queried, 1536.58 seconds.
Tweet with id 676219687039057920 queried, 1537.17 seconds.
Tweet with id 676215927814406144 queried, 1537.76 seconds.

Now, read the tweet json objects from the file and create a Pandas dataframe containing the tweet id, retweet count and favorite count:

In [8]:
# Create an empty list to store tweets
tweets_data = []

# Read tweet_json.txt line by line and add tweets json objects to the created list
with open('tweet_json.txt') as file:
    for line in file:
        tweets_data.append(json.loads(line))

# Create a dataframe from the additional tweets data
columns = ['id', 'created_at', 'retweet_count', 'favorite_count']
tw_add = pd.DataFrame(tweets_data)[columns]

## Assess

### The WeRateDogs Twitter archive
Let's have a look at the dataframe created from the WeRateDogs Twitter archive:

In [9]:
# View the first few lines
tw_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

Columns in the Twitter archive dataframe `tw_archive`:
- __tweet_id:__ unique identifier of each tweet
- __in_reply_to_status_id:__ unique identifier of an original tweet if the tweet is a reply
- __in_reply_to_user_id:__ original tweet’s author identifier if the tweet is a reply
- __timestamp:__ timestamp when the tweet was created
- __source:__ from where the tweet has been posted, e.g. Twitter Web Client, Twitter for iPhone
- __text:__ the actual text of the tweet
- __retweeted_status_id:__ identifier of an original tweet if the tweet is a retweet
- __retweeted_status_user_id:__ original tweet’s author identifier if the tweet is a retweet
- __retweeted_status_timestamp:__ timestamp when the original tweet was created if the tweet is a retweet
- __expanded_urls:__ url(s) belonging to each tweet, contain information whether an image is available or not
- __rating_numerator:__ numerator in the rating, e.g. 14 if the rating is 14/10
- __rating_denominator:__ denominator in the rating, usually 10, e.g. 10 if the rating is 14/10
- __name:__ dog's name
- __doggo:__ one of the dog's stages, a big, usually older, pupper
- __floofer:__ one of the dog's stages, any dog
- __pupper:__ one of the dog's stages, a small, usually younger, doggo
- __puppo:__ one of the dog's stages, a transitional phase between pupper and doggo

Let's continue with the data assessing:

In [10]:
# View the last few lines
tw_archive.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248165822465/photo/1,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226329800704/photo/1,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412701032449/photo/1,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285002620928/photo/1,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888022790149/photo/1,8,10,None,None,None,None,None

The dataset contains 2356 records - let's verify that:

In [11]:
# The size of the tw_archive dataframe
print('The dataframe tw_archive has {} rows and {} columns.'.format(tw_archive.shape[0], tw_archive.shape[1]))

The dataframe tw_archive has 2356 rows and 17 columns.

In [12]:
# View random few lines
tw_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
94,874012996292530176,NaN,NaN,2017-06-11 21:18:31 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Sebastian. He can't see all the colors of the rainbow, but he can see that this flag makes his human happy. 13/10 #PrideMonth puppo https://t.co/XBE0evJZ6V",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/874012996292530176/photo/1,https://twitter.com/dog_rates/status/874012996292530176/photo/1",13,10,Sebastian,None,None,None,puppo
599,798682547630837760,NaN,NaN,2016-11-16 00:22:12 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",RT @dog_rates: Here we see a rare pouched pupper. Ample storage space. Looks alert. Jumps at random. Kicked open that door. 8/10 https://t.…,6.769365e+17,4.196984e+09,2015-12-16 01:27:03 +0000,https://twitter.com/dog_rates/status/676936541936185344/photo/1,8,10,None,None,None,pupper,None
1163,723673163800948736,NaN,NaN,2016-04-23 00:41:42 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Ivar. She is a badass Viking warrior. Will sack your village. 10/10 savage af https://t.co/Dz6MiVssVU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/723673163800948736/photo/1,10,10,Ivar,None,None,None,None
2240,667924896115245057,NaN,NaN,2015-11-21 04:37:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Jiminy. He has always wanted to be a cheerleader. Can jump high enough to get on other dog. Go Jiminy. 9/10 https://t.co/fW6kIPFGD2,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667924896115245057/photo/1,9,10,Jiminy,None,None,None,None
533,807621403335917568,NaN,NaN,2016-12-10 16:22:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Ollie Vue. He was a 3 legged pupper on a mission to overcome everything. This is very hard to write. 14/10 we will miss you Ollie https://t.co/qTRY2qX9y4,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/807621403335917568/photo/1,https://twitter.com/dog_rates/status/807621403335917568/photo/1,https://twitter.com/dog_rates/status/807621403335917568/photo/1,https://twitter.com/dog_rates/status/807621403335917568/photo/1",14,10,Ollie,None,None,pupper,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764863651840/photo/1,420,10,None,None,None,None,None
744,780192070812196864,NaN,NaN,2016-09-25 23:47:39 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",We only rate dogs. Pls stop sending in non-canines like this Urban Floof Giraffe. I can't handle this. 11/10 https://t.co/zHIqpM5Gni,NaN,NaN,NaN,https://twitter.com/dog_rates/status/780192070812196864/photo/1,11,10,None,None,None,None,None
1368,702539513671897089,NaN,NaN,2016-02-24 17:04:07 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is a Wild Tuscan Poofwiggle. Careful not to startle. Rare tongue slip. One eye magical. 12/10 would def pet https://t.co/4EnShAQjv6,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1,https://twitter.com/dog_rates/status/702539513671897089/photo/1",12,10,a,None,None,None,None
711,784517518371221505,NaN,NaN,2016-10-07 22:15:26 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Frankie. He has yet to learn how to control his tongue. 11/10 maybe one day https://t.co/p6fgYe2dB6,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/784517518371221505/photo/1,https://twitter.com/dog_rates/status/784517518371221505/photo/1,https://twitter.com/dog_rates/status/784517518371221505/photo/1",11,10,Frankie,None,None,None,None
1314,706901761596989440,NaN,NaN,2016-03-07 17:58:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Elliot. He's blocking the roadway. Downright rude as hell. Doesn't care that you're already late. 3/10 https://t.co/FMUxir5pYu,NaN,NaN,NaN,https://twitter.com/dog_rates/status/706901761596989440/photo/1,3,10,Elliot,None,None,None,None

When it comes to visual assessments, it's probably better to use some other tools, for example Google spreadsheets. However, I can already spot some issues in the data, such as incorrect dog names ("a", "an", "the", "my"), incorrect data type for the retweeted status id and user's id, and variable value in the column names (dog's stages). I'll summarize the findings I'll clean together with other findings below.  

The column expanded_urls contains all the urls related to each tweet. Let's assume that tweets with "photo" include at least one image.

Let's continue with the programmatic assessment, and look at the data types first:

In [13]:
# Print general overview of the dataset
tw_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 220.9+ KB

The tweet_id column is an integer, not a string - even if tweet_id consists of only digits, it does not have numerical meaning and it does not make sense to use it in mathematical operations. However, I won't clean this issue. On the other hand, I'll convert the other columns containing ids and also columns containing timestamp.

In [14]:
# Values in the cource column
tw_archive['source'].value_counts()

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>     2221
<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>                        91
<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>                     33
<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>    11
Name: source, dtype: int64

In [15]:
# Overview of numeric columns
tw_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

The highest rating numerator is 1776 and the highest rating denominator is 170. Let's look closer at these two:

In [16]:
# Values of rating numerator
tw_archive['rating_numerator'].value_counts()

12      558
11      464
10      461
13      351
9       158
8       102
7       55
14      54
5       37
6       32
3       19
4       17
1       9
2       9
420     2
0       2
15      2
75      2
80      1
20      1
24      1
26      1
44      1
50      1
60      1
165     1
84      1
88      1
144     1
182     1
143     1
666     1
960     1
1776    1
17      1
27      1
45      1
99      1
121     1
204     1
Name: rating_numerator, dtype: int64

The most common rating numerator is in the range between 1 and 14. Numerators greater than 14 are rare - I'll look at them later to see what's going on here.

In [17]:
# Values of rating denominator
tw_archive['rating_denominator'].value_counts()

10     2333
11     3
50     3
80     2
20     2
2      1
16     1
40     1
70     1
15     1
90     1
110    1
120    1
130    1
150    1
170    1
7      1
0      1
Name: rating_denominator, dtype: int64

The most common denominator is 10. However, there are a few cases when its value is bigger. Let's look at the cases with unusual numerator values - maybe they are connected with high denominator values:

In [18]:
# Look at the tweets with rating numerator is greater than 14
tw_archive[tw_archive['rating_numerator'] > 14][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
55,881633300179243008,@roushfenway These are good dogs but 17/10 is an emotional impulse rating. More like 13/10s,17,10
188,855862651834028034,@dhmontgomery We also gave snoop dogg a 420/10 but I think that predated your research,420,10
189,855860136149123072,"@s8n You tried very hard to portray this good boy as not so good, but you have ultimately failed. His goodness shines through. 666/10",666,10
285,838916489579200512,RT @KibaDva: I collected all the good dogs!! 15/10 @dog_rates #GoodDogs https://t.co/6UCGFczlOI,15,10
290,838150277551247360,@markhoppus 182/10,182,10
291,838085839343206401,@bragg6of8 @Andy_Pace_ we are still looking for the first 15/10,15,10
313,835246439529840640,"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",960,0
340,832215909146226688,"RT @dog_rates: This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wu…",75,10
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
695,786709082849828864,"This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",75,10
763,778027034220126208,This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,27,10
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
979,749981277374128128,This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh,1776,10
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1634,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1663,682808988178739200,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",20,16
1712,680494726643068929,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,26,10
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2074,670842764863651840,After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,420,10

I've set the max column width to display the whole text as suggested on stackoverflow: [How to display full (non-truncated) dataframe information](https://stackoverflow.com/questions/25351968/how-to-display-full-non-truncated-dataframe-information-in-html-when-convertin).  

It looks like I'm missing some of the odd rating denominators:

In [19]:
# Look at the tweets with rating denominator is greater than 10
tw_archive[tw_archive['rating_denominator'] > 10][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
342,832088576586297345,@docmisterio account started on 11/15/15,11,15
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
784,775096608509886464,"RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",9,11
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1598,686035780142297088,"Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",4,20
1634,684225744407494656,"Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",143,130
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1663,682808988178739200,"I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",20,16
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80

Except for issues including incorrect ratings described below, some ratings are simply "group" ratings. I'll not clean this issue in the current project.

Let's check dog's stage now - for this purpose, create a helper dataframe tw_archive_stages, combine the four dog's stage columns (doggo, floofer, pupper, puppo) into one column called dog_stage, and check its values:

In [20]:
# Create the helper dataframe from the tw_archive dataframe using relevant columns
tw_archive_stages = tw_archive[['tweet_id', 'text', 'doggo', 'floofer', 'pupper', 'puppo']].copy()

# Create the dog_stage column
tw_archive_stages['dog_stage'] = (tw_archive['doggo'] + tw_archive['floofer'] + tw_archive['pupper'] + tw_archive['puppo']).str.replace('None', '').replace('', np.nan)

In [21]:
# Check the helper dataframe
tw_archive_stages.head(20)

,tweet_id,text,doggo,floofer,pupper,puppo,dog_stage
0,892420643555336193,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,None,None,None,None,NaN
1,892177421306343426,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",None,None,None,None,NaN
2,891815181378084864,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,None,None,None,None,NaN
3,891689557279858688,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,None,None,None,None,NaN
4,891327558926688256,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",None,None,None,None,NaN
5,891087950875897856,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,None,None,None,None,NaN
6,890971913173991426,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\nhttps://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl,None,None,None,None,NaN
7,890729181411237888,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,None,None,None,None,NaN
8,890609185150312448,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek https://t.co/9TwLuAGH0b,None,None,None,None,NaN
9,890240255349198849,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,doggo,None,None,None,doggo
10,890006608113172480,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme,None,None,None,None,NaN
11,889880896479866881,This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g,None,None,None,None,NaN
12,889665388333682689,Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,None,None,None,puppo,puppo
13,889638837579907072,This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist https://t.co/f8dEDcrKSR,None,None,None,None,NaN
14,889531135344209921,This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq,None,None,None,puppo,puppo
15,889278841981685760,This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb,None,None,None,None,NaN
16,888917238123831296,This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both https://t.co/chxruIOUJN,None,None,None,None,NaN
17,888804989199671297,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K,None,None,None,None,NaN
18,888554962724278272,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK,None,None,None,None,NaN
19,888202515573088257,RT @dog_rates: This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,None,None,None,None,NaN

Look at the values that dog_stage can take:

In [22]:
tw_archive_stages['dog_stage'].value_counts()

pupper          245
doggo           83
puppo           29
doggopupper     12
floofer         9
doggofloofer    1
doggopuppo      1
Name: dog_stage, dtype: int64

The majority of records contain only one dog stage - pupper, doggo, puppo or floofer. However, it seems that some dogs' stage is a combination, or perhaps there are more dogs in the tweet? Let's check this out:

In [23]:
tw_archive_stages[(tw_archive_stages['dog_stage'] == 'doggopupper') | (tw_archive_stages['dog_stage'] == 'doggopuppo') | (tw_archive_stages['dog_stage'] == 'doggofloofer')]

,tweet_id,text,doggo,floofer,pupper,puppo,dog_stage
191,855851453814013952,Here's a puppo participating in the #ScienceMarch. Cleverly disguising her own doggo agenda. 13/10 would keep the planet habitable for https://t.co/cMhq16isel,doggo,None,None,puppo,doggopuppo
200,854010172552949760,"At first I thought this was a shy doggo, but it's actually a Rare Canadian Floofer Owl. Amateurs would confuse the two. 11/10 only send dogs https://t.co/TXdT3tmuYk",doggo,floofer,None,None,doggofloofer
460,817777686764523521,"This is Dido. She's playing the lead role in ""Pupper Stops to Catch Snow Before Resuming Shadow Box with Dried Apple."" 13/10 (IG: didodoggo) https://t.co/m7isZrOBX7",doggo,None,pupper,None,doggopupper
531,808106460588765185,Here we have Burke (pupper) and Dexter (doggo). Pupper wants to be exactly like doggo. Both 12/10 would pet at same time https://t.co/ANBpEYHaho,doggo,None,pupper,None,doggopupper
565,802265048156610565,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",doggo,None,pupper,None,doggopupper
575,801115127852503040,This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,doggo,None,pupper,None,doggopupper
705,785639753186217984,This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,doggo,None,pupper,None,doggopupper
733,781308096455073793,"Pupper butt 1, Doggo 0. Both 12/10 https://t.co/WQvcPEpH2u",doggo,None,pupper,None,doggopupper
778,775898661951791106,"RT @dog_rates: Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",doggo,None,pupper,None,doggopupper
822,770093767776997377,RT @dog_rates: This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,doggo,None,pupper,None,doggopupper
889,759793422261743616,"Meet Maggie &amp; Lila. Maggie is the doggo, Lila is the pupper. They are sisters. Both 12/10 would pet at the same time https://t.co/MYwR4DQKll",doggo,None,pupper,None,doggopupper
956,751583847268179968,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,doggo,None,pupper,None,doggopupper
1063,741067306818797568,This is just downright precious af. 12/10 for both pupper and doggo https://t.co/o5J479bZUC,doggo,None,pupper,None,doggopupper
1113,733109485275860992,"Like father (doggo), like son (pupper). Both 12/10 https://t.co/pG2inLaOda",doggo,None,pupper,None,doggopupper

Indeed, some tweets mention more than one dog, for example tweets with ids 808106460588765185 and 759793422261743616. The dog's stage for the tweet with id 854010172552949760 should be floofer. On the other hand, for some tweets it is difficult to say - and that might be the case of other tweets in the archive, too. Therefore I won't address this issue in the data cleaning.

Retweets:

In [24]:
# The number of retweets
len(tw_archive[tw_archive['text'].str.contains('RT @', na=False)])

181

Are any tweets duplicated?

In [25]:
tw_archive.duplicated(subset=['tweet_id']).any()

False

There aren't any duplicated records when it comes to tweet id.

### The tweet image predictions
Let's have a look at the dataframe created from the image predictions data:

In [26]:
# View the first couple of lines
img_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

Columns in the tweet image prediction dataframe `img_predictions`:
- __tweet_id:__ unique identifier of each tweet
- __jpg_url:__ url of the image used in the prediction
- __img_num:__ number of images of each tweet
- __p1:__ the algorithm's #1 prediction for the image in the tweet
- __p1_conf:__ how confident the algorithm is in its #1 prediction
- __p1_dog:__ whether or not the #1 prediction is a breed of dog
- __p2:__ the algorithm's second most likely prediction
- __p2_conf:__ how confident the algorithm is in its #2 prediction
- __p2_dog:__ whether or not the #2 prediction is a breed of dog
- __p3:__ the algorithm's third most likely prediction
- __p3_conf:__ how confident the algorithm is in its #3 prediction
- __p3_dog:__ whether or not the #3 prediction is a breed of dog

Let's continue with the data assessing:

In [27]:
# View the last few lines
img_predictions.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [28]:
# The size of the img_predictions dataframe
print('The dataframe img_predictions has {} rows and {} columns.'.format(img_predictions.shape[0], img_predictions.shape[1]))

The dataframe img_predictions has 2075 rows and 12 columns.

In [29]:
# View random 20 lines
img_predictions.sample(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1015,709852847387627521,https://pbs.twimg.com/media/CdnnZhhWAAEAoUc.jpg,2,Chihuahua,0.945629,True,Pomeranian,0.019204,True,West_Highland_white_terrier,0.010134,True
970,706538006853918722,https://pbs.twimg.com/media/Cc4gjxqW4AIoThO.jpg,1,chow,0.541794,True,Pembroke,0.094918,True,Pomeranian,0.085439,True
741,687317306314240000,https://pbs.twimg.com/media/CYnXcLEUkAAIQOM.jpg,1,Shih-Tzu,0.747208,True,Maltese_dog,0.091025,True,Lhasa,0.035788,True
1117,725786712245440512,https://pbs.twimg.com/media/ChKDKmIWIAIJP_e.jpg,1,chow,0.335761,True,Samoyed,0.167173,True,kuvasz,0.145715,True
584,678969228704284672,https://pbs.twimg.com/media/CWwu6OLUkAEo3gq.jpg,1,Labrador_retriever,0.680251,True,Chesapeake_Bay_retriever,0.201697,True,golden_retriever,0.019676,True
74,667393430834667520,https://pbs.twimg.com/media/CUMOyd3XIAAl13H.jpg,1,papillon,0.557009,True,Border_collie,0.271963,True,collie,0.073473,True
1266,749395845976588288,https://pbs.twimg.com/media/CmZjizYW8AA3FCN.jpg,1,Pomeranian,0.973715,True,chow,0.020758,True,keeshond,0.003784,True
1895,850019790995546112,https://pbs.twimg.com/media/C8vgfTsXgAA561h.jpg,3,Shetland_sheepdog,0.759907,True,collie,0.107405,True,Pembroke,0.052335,True
1201,741067306818797568,https://pbs.twimg.com/media/CkjMx99UoAM2B1a.jpg,1,golden_retriever,0.843799,True,Labrador_retriever,0.052956,True,kelpie,0.035711,True
1778,828408677031882754,https://pbs.twimg.com/media/C38ZSzlWIAEpQzs.jpg,1,Weimaraner,0.133033,True,Chesapeake_Bay_retriever,0.092227,True,American_Staffordshire_terrier,0.065094,True
1322,756526248105566208,https://pbs.twimg.com/media/Cn-4m2CXYAErPGe.jpg,1,geyser,0.991273,False,volcano,0.004673,False,fountain,0.001234,False
620,680473011644985345,https://pbs.twimg.com/media/CXGGlzvWYAArPfk.jpg,1,Lakeland_terrier,0.796694,True,West_Highland_white_terrier,0.138709,True,Norwich_terrier,0.016253,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
926,702598099714314240,https://pbs.twimg.com/media/CcAhPevW8AAoknv.jpg,1,kelpie,0.219179,True,badger,0.133584,False,Siamese_cat,0.074440,False
81,667470559035432960,https://pbs.twimg.com/media/CUNU78YWEAECmpB.jpg,1,toy_poodle,0.304175,True,pug,0.223427,True,Lakeland_terrier,0.073316,True
1571,794983741416415232,https://pbs.twimg.com/media/CvT6IV6WEAQhhV5.jpg,3,schipperke,0.363272,True,kelpie,0.197021,True,Norwegian_elkhound,0.151024,True
842,695051054296211456,https://pbs.twimg.com/media/CaVRP4GWwAERC0v.jpg,1,Boston_bull,0.761454,True,pug,0.075395,True,Chihuahua,0.041598,True
1733,821407182352777218,https://pbs.twimg.com/ext_tw_video_thumb/821407155391725568/pu/img/AJC07gFJDDBuwNTD.jpg,1,Irish_setter,0.505496,True,vizsla,0.168747,True,Chesapeake_Bay_retriever,0.111311,True
1421,772102971039580160,https://pbs.twimg.com/media/CrcPjh0WcAA_SPT.jpg,1,Pembroke,0.541780,True,Cardigan,0.260504,True,Shetland_sheepdog,0.063703,True
458,674788554665512960,https://pbs.twimg.com/media/CV1Um8vWIAAmhQn.jpg,1,miniature_poodle,0.349561,True,toy_poodle,0.154711,True,Maltese_dog,0.134229,True

There is a tidiness issue - columns with the algorithm's prediction, confidence and prediction check (p1, p1_conf, p1_dog, p2, p2_conf, etc.) should be arranged differently to conform to the tidiness rules, namely "each observation forms a row", assuming that the three predictions from the algorithm are a separate observation.

Check data types:

In [30]:
img_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 119.6+ KB

Check duplicates:

In [31]:
img_predictions.duplicated(subset=['tweet_id']).any()

False

There aren't any duplicated tweets.

### Additional tweets data
Let's have a look at the dataframe created from the additional tweets data:

In [32]:
# View the first few lines
tw_add.head()

,id,created_at,retweet_count,favorite_count
0,892420643555336193,Tue Aug 01 16:23:56 +0000 2017,7697,36148
1,892177421306343426,Tue Aug 01 00:17:27 +0000 2017,5694,31170
2,891815181378084864,Mon Jul 31 00:18:03 +0000 2017,3775,23483
3,891689557279858688,Sun Jul 30 15:58:51 +0000 2017,7861,39432
4,891327558926688256,Sat Jul 29 16:00:24 +0000 2017,8471,37652

Columns in the tweet image prediction dataframe `tw_add` ([Tweet objects](https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object)):
- __id:__ unique identifier of each tweet
- __created at:__ UTC time when the tweet was created
- __retweet_count:__ number of times the tweet has been retweeted
- __favorite_count:__ how many times the tweet has been liked by Twitter users

Let's continue with the data assessing:

In [33]:
# View the last few lines
tw_add.tail()

,id,created_at,retweet_count,favorite_count
2326,666049248165822465,Mon Nov 16 00:24:50 +0000 2015,40,96
2327,666044226329800704,Mon Nov 16 00:04:52 +0000 2015,131,272
2328,666033412701032449,Sun Nov 15 23:21:54 +0000 2015,41,112
2329,666029285002620928,Sun Nov 15 23:05:30 +0000 2015,42,121
2330,666020888022790149,Sun Nov 15 22:32:08 +0000 2015,460,2412

Confirm the size of the dataset:

In [34]:
# The size of the tw_add dataframe
print('The dataframe tw_add has {} rows and {} columns.'.format(tw_add.shape[0], tw_add.shape[1]))

The dataframe tw_add has 2331 rows and 4 columns.

In [35]:
# View random 20 lines
tw_add.sample(20)

,id,created_at,retweet_count,favorite_count
981,747651430853525504,Tue Jun 28 04:42:46 +0000 2016,155,1386
1670,681281657291280384,Mon Dec 28 01:12:59 +0000 2015,1091,3207
316,833124694597443584,Sun Feb 19 01:23:00 +0000 2017,4857,20255
2059,670807719151067136,Sun Nov 29 03:33:17 +0000 2015,466,1121
339,831309418084069378,Tue Feb 14 01:09:44 +0000 2017,2479,11810
1998,671896809300709376,Wed Dec 02 03:40:57 +0000 2015,4000,8175
306,834458053273591808,Wed Feb 22 17:41:18 +0000 2017,1688,9633
1105,729463711119904772,Mon May 09 00:11:16 +0000 2016,2299,5746
919,752701944171524096,Tue Jul 12 03:11:42 +0000 2016,2883,0
393,823333489516937216,Mon Jan 23 00:56:15 +0000 2017,25,707
1830,675531475945709568,Sat Dec 12 04:23:49 +0000 2015,370,1155
333,831911600680497154,Wed Feb 15 17:02:36 +0000 2017,6540,27732
8,890609185150312448,Thu Jul 27 16:25:51 +0000 2017,3911,26098
963,749036806121881602,Sat Jul 02 00:27:45 +0000 2016,795,3093
1946,673270968295534593,Sat Dec 05 22:41:22 +0000 2015,347,1036
361,828046555563323392,Sun Feb 05 01:04:17 +0000 2017,2892,11813
1279,707420581654872064,Wed Mar 09 04:19:44 +0000 2016,694,2258
1701,680070545539371008,Thu Dec 24 17:00:27 +0000 2015,855,2562
948,750086836815486976,Mon Jul 04 22:00:12 +0000 2016,535,2171
2071,670755717859713024,Sun Nov 29 00:06:39 +0000 2015,104,424

Check data types:

In [36]:
tw_add.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 4 columns):
id                2331 non-null int64
created_at        2331 non-null object
retweet_count     2331 non-null int64
favorite_count    2331 non-null int64
dtypes: int64(3), object(1)
memory usage: 63.8+ KB

Just in case, check duplicates:

In [37]:
tw_add.duplicated(subset=['id']).any()

False

There are no duplicates in the additional data.

### Quality issues
#### The Twitter Archive data `tw_archive`
- some tweets do not have images
- timestamp is an object (string), not a datetime
- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id and retweeted_status_user_id are floats, not strings (similar issue as with tweet_id)
- retweeted_status_timestamp is an object (string), not a datetime
- incorrect ratings - decimal numbers not correctly taken to rating numerator:
    - tweets with id 832215909146226688 and 786709082849828864 have rating 9.75/10, not 75/10
    - tweet with id 778027034220126208 has rating 11.27/10, not 27/10
    - tweet with id 680494726643068929 has rating 11.26/10, not 26/10
- incorrect ratings - rating numerator and denominator not correctly extracted from text due to multiple "rating-like" sequences:
    - tweet with id 716439118184652801 has rating 11/10, not 50/50
    - tweet with id 740373189193256964 has rating 14/10, not 9/11
    - tweet with id 722974582966214656 has rating 13/10, not 4/20
    - tweet with id 682962037429899265 has rating 10/10, not 7/11
- some tweets are retweets - they contain "RT @" in the text column and non-null value in the retweeted_status_id column
- tweets with ids 832088576586297345, 682808988178739200, 686035780142297088 do not contain rating at all
- tweet with id 670842764863651840 is not a dog rating
- null values are represented by "None"

#### Additional tweet data `tw_add`
- created_at (timestamp) is an object (string), not datetime

### Tidiness issues
#### The Twitter Archive data `tw_archive`
- source is formatted as an html tag and contains both url and type of the source
- variable value in the column names (dog's stages)

#### The image predictions data `img_predictions`
- same variable across multiple columns (p1, p2, and p3, etc.)

#### Common
- data from the Twitter archive `tw_archive`, the additional data `tw_add` and the actual breed prediction (from `img_predictions`) should be in one dataframe

## Clean
Create a copy of each dataframe:

In [38]:
tw_archive_clean = tw_archive.copy()
img_predictions_clean = img_predictions.copy()
tw_add_clean = tw_add.copy()

### 1. Quality: Completeness issues
#### Tweets without images in the Twitter Archive data `tw_archive`
##### Define
Remove tweets without images using dataframe slicing based on the presence of the "photo" string in the expanded_urls columns. 
##### Code

In [39]:
# Filter tweets with images
tw_archive_clean = tw_archive_clean[tw_archive_clean['expanded_urls'].str.contains('photo', na=False)]

##### Test

In [40]:
# The number of tweets without images after cleaning
len(tw_archive_clean[~tw_archive_clean['expanded_urls'].str.contains('photo', na=False)])

0

In [41]:
# The number of tweets without images in the original dataset
len(tw_archive[~tw_archive['expanded_urls'].str.contains('photo', na=False)])

279

#### Retweets in the Twitter Archive data `tw_archive`
##### Define
Remove retweets, i.e. tweets that are not original tweets using dataframe slicing based on non-null values in the column retweeted_status_id ([How to filter Pandas dataframe using 'in' and 'not in' like in SQL](https://stackoverflow.com/questions/19960077/how-to-filter-pandas-dataframe-using-in-and-not-in-like-in-sql)). Once the retweets are removed, drop also the related columns retweeted_status_id, retweeted_status_user_id and retweeted_status_timestamp. This resolves also the related data type quality issues. 
##### Code (remove rows)

In [42]:
# Store the tweet id of each retweet in retweet_ids
retweet_ids = tw_archive_clean[tw_archive_clean['retweeted_status_id'].notnull()]['tweet_id']

In [43]:
# Filter tweets that do not belong to retweets
tw_archive_clean = tw_archive_clean[~tw_archive_clean['tweet_id'].isin(retweet_ids)]

##### Test (remove rows)
Check if there are any retweets using columns that are filled only for retweets (retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp)

In [44]:
print('The number of records with non-null retweeted_status_id: {}'.format(len(tw_archive_clean[tw_archive_clean['retweeted_status_id'].notnull()])))
print('The number of records with non-null retweeted_status_user_id: {}'.format(len(tw_archive_clean[tw_archive_clean['retweeted_status_user_id'].notnull()])))
print('The number of records with non-null retweeted_status_timestamp: {}'.format(len(tw_archive_clean[tw_archive_clean['retweeted_status_timestamp'].notnull()])))

The number of records with non-null retweeted_status_id: 0
The number of records with non-null retweeted_status_user_id: 0
The number of records with non-null retweeted_status_timestamp: 0

##### Code (remove columns)

In [45]:
# Remove all retweet columns
tw_archive_clean = tw_archive_clean.drop(['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], axis=1)

##### Test (remove columns)

In [46]:
# Print the columns
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1920 entries, 0 to 2355
Data columns (total 14 columns):
tweet_id                 1920 non-null int64
in_reply_to_status_id    21 non-null float64
in_reply_to_user_id      21 non-null float64
timestamp                1920 non-null object
source                   1920 non-null object
text                     1920 non-null object
expanded_urls            1920 non-null object
rating_numerator         1920 non-null int64
rating_denominator       1920 non-null int64
name                     1920 non-null object
doggo                    1920 non-null object
floofer                  1920 non-null object
pupper                   1920 non-null object
puppo                    1920 non-null object
dtypes: float64(2), int64(3), object(9)
memory usage: 157.5+ KB

Check if there are any retweets using the text column:

In [47]:
print('The number of records containing "RT @" in the text column: {}'.format(len(tw_archive_clean[tw_archive_clean['text'].str.contains('RT @', na=False)])))

The number of records containing "RT @" in the text column: 0

Look at the original `tw_archive` dataframe to verify the second testing method:

In [48]:
print('The number of records containing "RT @" in the text column: {}'.format(len(tw_archive[tw_archive['text'].str.contains('RT @', na=False)])))

The number of records containing "RT @" in the text column: 181

#### Tweets in the Twitter Archive data `tw_archive` that are not dog ratings or that do not contain dog ratings
##### Define
Remove tweets that are not dog ratings or do not contain dog ratings using dataframe slicing based on the tweet_id column. These tweets have following tweet ids: 832088576586297345, 682808988178739200, 686035780142297088 and 670842764863651840. 
##### Code

In [49]:
# Create a list of tweet ids that will be removed
remove_ids = [832088576586297345, 682808988178739200, 686035780142297088, 670842764863651840]

In [50]:
# Verify that the tweets with ids in remove_ids are still in the tw_archive dataframe
tw_archive_clean[tw_archive_clean['tweet_id'].isin(remove_ids)]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,https://twitter.com/dog_rates/status/670842764863651840/photo/1,420,10,None,None,None,None,None

In [51]:
# Remove tweets with ids in the list remove_ids
tw_archive_clean = tw_archive_clean[~tw_archive_clean['tweet_id'].isin(remove_ids)]

##### Test

In [52]:
# Verify that the tweets with ids in remove_ids are not in the tw_archive dataframe
len(tw_archive_clean[tw_archive_clean['tweet_id'].isin(remove_ids)])

0

### 2. Tidiness
#### Source in the Twitter Archive data `tw_archive` contains both url and type
##### Define
Create separate columns for the source url and the source type using Pandas method [str.extract()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) and regular expressions. Drop the original source column afterwards using Pandas [drop()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) method.
##### Code

In [53]:
# Create two columns for the source url and source type
tw_archive_clean[['source_url', 'source_type']] = tw_archive_clean['source'].str.extract(r'^<a href=\"([a-zA-Z0-9:\/.]*)\".*>(.*)<\/a>')

In [54]:
# Remove the original source column
tw_archive_clean = tw_archive_clean.drop('source', axis=1)

##### Test

In [55]:
# Check if the new columns are present and contain desired information, and the original one is removed
tw_archive_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,source_url,source_type
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None,http://twitter.com/download/iphone,Twitter for iPhone
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None,http://twitter.com/download/iphone,Twitter for iPhone
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None,http://twitter.com/download/iphone,Twitter for iPhone
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None,http://twitter.com/download/iphone,Twitter for iPhone
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None,http://twitter.com/download/iphone,Twitter for iPhone

Let's check what values the new columns can take:

In [56]:
# Check the values in the source_url
tw_archive_clean['source_url'].value_counts()

http://twitter.com/download/iphone              1888
http://twitter.com                              20
https://about.twitter.com/products/tweetdeck    11
Name: source_url, dtype: int64

In [57]:
# Check the values in the source_type
tw_archive_clean['source_type'].value_counts()

Twitter for iPhone    1888
Twitter Web Client    20
TweetDeck             11
Name: source_type, dtype: int64

#### Variable value in the column names (dog's stages) in the Twitter Archive data `tw_archive`
##### Define
Create separate column called dog_stage to store different dog's stages using concatenation of the columns doggo, floofer, pupper and puppo. Replace the combined values with values separated by dash using Pandas [replace()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) method. Then, remove "None" and replace missing values with null. This resolves also the data quality issue with having the string "None" instead of null.  

Drop the original dog's stages columns doggo, floofer, pupper and puppo afterwards using Pandas [drop()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) method.
##### Code

In [58]:
# Create the new column, fill missing values with null
tw_archive_clean['dog_stage'] = (tw_archive_clean['doggo'] + tw_archive_clean['floofer'] + tw_archive_clean['pupper'] + tw_archive_clean['puppo'])\
    .str.replace('None', '').replace('', np.nan)

In [59]:
# Add dash to "combined" stages
tw_archive_clean['dog_stage'] = tw_archive_clean['dog_stage'].replace({'doggopupper': 'doggo-pupper', 'doggopuppo': 'doggo-puppo', 'doggofloofer': 'doggo-floofer'})

In [60]:
# Remove the original dog stages columns
tw_archive_clean = tw_archive_clean.drop(['doggo', 'floofer', 'pupper', 'puppo'], axis=1)

##### Test

In [61]:
# Check the values in the new column dog_stage
tw_archive_clean['dog_stage'].value_counts()

pupper           194
doggo            55
puppo            22
doggo-pupper     8
floofer          6
doggo-floofer    1
doggo-puppo      1
Name: dog_stage, dtype: int64

In [62]:
# Check the columns after cleaning the issue
tw_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1919 entries, 0 to 2355
Data columns (total 12 columns):
tweet_id                 1919 non-null int64
in_reply_to_status_id    21 non-null float64
in_reply_to_user_id      21 non-null float64
timestamp                1919 non-null object
text                     1919 non-null object
expanded_urls            1919 non-null object
rating_numerator         1919 non-null int64
rating_denominator       1919 non-null int64
name                     1919 non-null object
source_url               1919 non-null object
source_type              1919 non-null object
dog_stage                287 non-null object
dtypes: float64(2), int64(3), object(7)
memory usage: 142.4+ KB

#### Variable values in the column names in the image predictions data `img_predictions`
##### Define
The image predictions dataset contains multiple predictions for a dog's breed for each tweet that has at least one image. Although the dataset contains qualitatively different data - image predictions - I'd like to use the predicted breed of a dog in conjunction with other tweet's data such as the rating and the favorite count. For this purpose, I need to identify the correct prediction that might be p1 (most likely), p2 or p3 (less likely, but still can be true, if p1 and p2 identify something else than a dog) for each tweet. 

The cleaning for this issue therefore includes reordering of the `img_predictions` dataframe using dataframe slicing and concatenation with Pandas method [concat()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html), removing "not a dog" predictions and filtering the most probable "dog" prediction to keep only one prediction per tweet. For the last step, I use Pandas method [drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html).

Remove unnecessary columns afterwards, i.e. keep only tweet_id and prediction. 

##### Code

In [63]:
# Create subsets of the data by the prediction number
img_1 = img_predictions_clean[['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog']].copy()
img_2 = img_predictions_clean[['tweet_id', 'jpg_url', 'img_num', 'p2', 'p2_conf', 'p2_dog']].copy()
img_3 = img_predictions_clean[['tweet_id', 'jpg_url', 'img_num', 'p3', 'p3_conf', 'p3_dog']].copy()

# Rename the columns
img_1.rename(columns={'p1':'p', 'p1_conf': 'p_conf', 'p1_dog': 'p_dog'}, inplace=True)
img_2.rename(columns={'p2':'p', 'p2_conf': 'p_conf', 'p2_dog': 'p_dog'}, inplace=True)
img_3.rename(columns={'p3':'p', 'p3_conf': 'p_conf', 'p3_dog': 'p_dog'}, inplace=True)

# Concatenate the three subsets back
img_predictions_clean = pd.concat([pd.concat([img_1, img_2]), img_3])

In [64]:
# Keep only "dog" predictions
img_predictions_clean = img_predictions_clean[img_predictions_clean['p_dog'] == True]

In [65]:
# Keep the best "dog" prediction for each tweet
img_predictions_clean = img_predictions_clean.drop_duplicates(subset=['tweet_id'], keep='first')

In [66]:
# Remove unneccessary columns
img_predictions_clean = img_predictions_clean.drop(['jpg_url', 'img_num', 'p_conf', 'p_dog'], axis=1)

##### Test

In [67]:
# Chech the resulting dataframe - view the first few line
img_predictions_clean.head()

             tweet_id                       p
0  666020888022790149  Welsh_springer_spaniel
1  666029285002620928  redbone
2  666033412701032449  German_shepherd
3  666044226329800704  Rhodesian_ridgeback
4  666049248165822465  miniature_pinscher

In [68]:
# Check the number of tweets in the cleansed dataframe
len(img_predictions_clean)

1751

In [69]:
# Compare with the original dataset - compare visually the first few lines
img_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [87]:
# Check the number of tweets with at least "dog" prediction in the original dataframe
len(img_predictions[(img_predictions['p1_dog'] == True) | (img_predictions['p2_dog'] == True) | img_predictions['p3_dog'] == True])

1751

The numbers of tweets with at least one "dog" prediction in the cleansed and original dataframes are the same.

#### Data from the Twitter archive `tw_archive`, the additional data `tw_add` and the image predictions `img_predictions` should be in one dataframe
##### Define
Join the three datasets `tw_archive`, `tw_add` and `img_predictions` on tweet ids using Pandas [merge()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html) method with left join to obtain a dataframe containing all tweets from the archive (`tw_archive` being the left table). Drop the id and created_at columns afterwards.

##### Code

In [70]:
# Join tw_archive and tw_add into a new dataframe tweets
tweets_clean = tw_archive_clean.merge(tw_add_clean, left_on='tweet_id', right_on='id')

In [71]:
# Join tweets_clean and img_predictions into a new dataframe tweets
tweets_clean = tweets_clean.merge(img_predictions_clean, left_on='tweet_id', right_on='tweet_id')

In [72]:
# Remove the id column
tweets_clean = tweets_clean.drop(['id', 'created_at'], axis=1)

##### Test

In [73]:
# View the first few lines from the joined dataframe
tweets_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,source_url,source_type,dog_stage,retweet_count,favorite_count,p
0,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,http://twitter.com/download/iphone,Twitter for iPhone,NaN,5694,31170,Chihuahua
1,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,http://twitter.com/download/iphone,Twitter for iPhone,NaN,3775,23483,Chihuahua
2,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,http://twitter.com/download/iphone,Twitter for iPhone,NaN,7861,39432,Labrador_retriever
3,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,http://twitter.com/download/iphone,Twitter for iPhone,NaN,8471,37652,basset
4,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,2839,18974,Chesapeake_Bay_retriever

In [74]:
# Check the column names and missing values
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1624 entries, 0 to 1623
Data columns (total 15 columns):
tweet_id                 1624 non-null int64
in_reply_to_status_id    19 non-null float64
in_reply_to_user_id      19 non-null float64
timestamp                1624 non-null object
text                     1624 non-null object
expanded_urls            1624 non-null object
rating_numerator         1624 non-null int64
rating_denominator       1624 non-null int64
name                     1624 non-null object
source_url               1624 non-null object
source_type              1624 non-null object
dog_stage                243 non-null object
retweet_count            1624 non-null int64
favorite_count           1624 non-null int64
p                        1624 non-null object
dtypes: float64(2), int64(5), object(8)
memory usage: 152.2+ KB

### 3. Quality: Data types
#### Columns in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id and retweeted_status_user_id as floats
##### Define
Using Pandas [astype()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) function, convert the id columns into integer "Int64" ([Convert Pandas column containing NaNs to dtype int](https://stackoverflow.com/questions/21287624/convert-pandas-column-containing-nans-to-dtype-int)). Issue with the retweeted_status_id and retweeted_status_user_id already resolved. 
##### Code

In [75]:
# Convert the remaining id columns into string
tweets_clean[['in_reply_to_status_id', 'in_reply_to_user_id']] = \
    tweets_clean[['in_reply_to_status_id', 'in_reply_to_user_id']].astype('Int64')

##### Test

In [76]:
# View the first few lines with reply columns
tweets_clean[tweets_clean['in_reply_to_status_id'].notnull()].head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,source_url,source_type,dog_stage,retweet_count,favorite_count,p
102,863079547188785154,667152164079423488,4196983835,2017-05-12 17:12:53 +0000,"Ladies and gentlemen... I found Pipsy. He may have changed his name to Pablo, but he never changed his love for the sea. Pupgraded to 14/10 https://t.co/lVU5GyNFen",https://twitter.com/dog_rates/status/863079547188785154/photo/1,14,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,1045,8383,Lakeland_terrier
123,856526610513747968,855818117272018944,4196983835,2017-04-24 15:13:52 +0000,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY HI AFTER ALL. PUPGRADED TO A 14/10. WOULD BE AN HONOR TO FLY WITH https://t.co/p1hBHCmWnA",https://twitter.com/dog_rates/status/856526610513747968/photo/1,14,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,1799,11482,Old_English_sheepdog
161,844979544864018432,759099523532779520,4196983835,2017-03-23 18:29:57 +0000,"PUPDATE: I'm proud to announce that Toby is 236 days sober. Pupgraded to a 13/10. We're all very proud of you, Toby https://t.co/a5OaJeRl9B","https://twitter.com/dog_rates/status/844979544864018432/photo/1,https://twitter.com/dog_rates/status/844979544864018432/photo/1,https://twitter.com/dog_rates/status/844979544864018432/photo/1",13,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,2524,13512,Shetland_sheepdog
353,802265048156610565,733109485275860992,4196983835,2016-11-25 21:37:47 +0000,"Like doggo, like pupper version 2. Both 11/10 https://t.co/9IxWAXFqze",https://twitter.com/dog_rates/status/802265048156610565/photo/1,11,10,None,http://twitter.com/download/iphone,Twitter for iPhone,doggo-pupper,1406,6889,Labrador_retriever
633,746818907684614144,691416866452082688,4196983835,2016-06-25 21:34:37 +0000,Guys... Dog Jesus 2.0\n13/10 buoyant af https://t.co/CuNA7OwfKQ,https://twitter.com/dog_rates/status/746818907684614144/photo/1,13,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,1742,5310,Ibizan_hound

In [77]:
# Verify datatypes
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1624 entries, 0 to 1623
Data columns (total 15 columns):
tweet_id                 1624 non-null int64
in_reply_to_status_id    19 non-null Int64
in_reply_to_user_id      19 non-null Int64
timestamp                1624 non-null object
text                     1624 non-null object
expanded_urls            1624 non-null object
rating_numerator         1624 non-null int64
rating_denominator       1624 non-null int64
name                     1624 non-null object
source_url               1624 non-null object
source_type              1624 non-null object
dog_stage                243 non-null object
retweet_count            1624 non-null int64
favorite_count           1624 non-null int64
p                        1624 non-null object
dtypes: Int64(2), int64(5), object(8)
memory usage: 155.4+ KB

#### Columns timestamp, retweeted_status_timestamp and created_at as an object (string)
##### Define
Convert the timestamp column into datetime using Pandas [to_datetime()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) method. The columns retweeted_status_timestamp and created_at were dropped before. 
##### Code

In [78]:
# Convert the timestamp column
tweets_clean['timestamp'] = pd.to_datetime(tweets_clean['timestamp'], format='%Y-%m-%d %H:%M:%S %z')

##### Test

In [79]:
# Check the conversion
tweets_clean['timestamp'].head()

0   2017-08-01 00:17:27+00:00
1   2017-07-31 00:18:03+00:00
2   2017-07-30 15:58:51+00:00
3   2017-07-29 16:00:24+00:00
4   2017-07-29 00:08:17+00:00
Name: timestamp, dtype: datetime64[ns, UTC]

In [80]:
# Check datatypes
tweets_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1624 entries, 0 to 1623
Data columns (total 15 columns):
tweet_id                 1624 non-null int64
in_reply_to_status_id    19 non-null Int64
in_reply_to_user_id      19 non-null Int64
timestamp                1624 non-null datetime64[ns, UTC]
text                     1624 non-null object
expanded_urls            1624 non-null object
rating_numerator         1624 non-null int64
rating_denominator       1624 non-null int64
name                     1624 non-null object
source_url               1624 non-null object
source_type              1624 non-null object
dog_stage                243 non-null object
retweet_count            1624 non-null int64
favorite_count           1624 non-null int64
p                        1624 non-null object
dtypes: Int64(2), datetime64[ns, UTC](1), int64(5), object(7)
memory usage: 161.8+ KB

### 4. Quality: Incorrect ratings
#### Decimal numbers not correctly taken to rating numerator
##### Define
Correct the rating_numerator for the following tweets:
- tweets with id 832215909146226688 and 786709082849828864 - replace the rating_numerator with 9.75
- tweet with id 778027034220126208 - replace the rating_numerator with 11.27
- tweet with id 680494726643068929 - replace the rating_numerator with 11.26

##### Code

In [81]:
tweets_clean.loc[tweets_clean['tweet_id'] == 832215909146226688, 'rating_numerator'] = 9.75
tweets_clean.loc[tweets_clean['tweet_id'] == 786709082849828864, 'rating_numerator'] = 9.75
tweets_clean.loc[tweets_clean['tweet_id'] == 778027034220126208, 'rating_numerator'] = 11.27
tweets_clean.loc[tweets_clean['tweet_id'] == 680494726643068929, 'rating_numerator'] = 11.26

##### Test

In [82]:
# View the corrected rating numerator values
corrected_ids = [832215909146226688, 786709082849828864, 778027034220126208, 680494726643068929]
tweets_clean.loc[tweets_clean['tweet_id'].isin(corrected_ids), ['tweet_id', 'rating_numerator']]

                tweet_id  rating_numerator
428   786709082849828864  9.75
471   778027034220126208  11.27
1149  680494726643068929  11.26

#### Rating numerator and denominator not correctly extracted from text due to multiple "rating-like" sequences
##### Define
Correct the rating_numerator and rating_denominator columns for the following tweets:
- tweet with id 716439118184652801 has rating 11/10
- tweet with id 740373189193256964 has rating 14/10
- tweet with id 722974582966214656 has rating 13/10
- tweet with id 682962037429899265 has rating 10/10

##### Code

In [83]:
corr_ids = [716439118184652801, 740373189193256964, 722974582966214656, 682962037429899265]
corr_num = [11, 14, 13, 10]
corr_den = [10, 10, 10, 10]

for tweet_id, num, den in zip(corr_ids, corr_num, corr_den):
    tweets_clean.loc[tweets_clean['tweet_id'] == tweet_id, 'rating_numerator'] = num
    tweets_clean.loc[tweets_clean['tweet_id'] == tweet_id, 'rating_denominator'] = den

##### Test

In [84]:
# Verify the ratings
tweets_clean.loc[tweets_clean['tweet_id'].isin(corr_ids), ['tweet_id', 'rating_numerator', 'rating_denominator']]

                tweet_id  rating_numerator  rating_denominator
667   740373189193256964  14.0              10
747   722974582966214656  13.0              10
777   716439118184652801  11.0              10
1115  682962037429899265  10.0              10

In [85]:
tweets_clean.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,text,expanded_urls,rating_numerator,rating_denominator,name,source_url,source_type,dog_stage,retweet_count,favorite_count,p
0,892177421306343426,NaN,NaN,2017-08-01 00:17:27+00:00,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13.0,10,Tilly,http://twitter.com/download/iphone,Twitter for iPhone,NaN,5694,31170,Chihuahua
1,891815181378084864,NaN,NaN,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12.0,10,Archie,http://twitter.com/download/iphone,Twitter for iPhone,NaN,3775,23483,Chihuahua
2,891689557279858688,NaN,NaN,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13.0,10,Darla,http://twitter.com/download/iphone,Twitter for iPhone,NaN,7861,39432,Labrador_retriever
3,891327558926688256,NaN,NaN,2017-07-29 16:00:24+00:00,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12.0,10,Franklin,http://twitter.com/download/iphone,Twitter for iPhone,NaN,8471,37652,basset
4,891087950875897856,NaN,NaN,2017-07-29 00:08:17+00:00,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,https://twitter.com/dog_rates/status/891087950875897856/photo/1,13.0,10,None,http://twitter.com/download/iphone,Twitter for iPhone,NaN,2839,18974,Chesapeake_Bay_retriever

In [86]:
tweets_clean.shape

(1624, 15)

## Visualizations